In [221]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import yaml
import urllib.parse
from sqlalchemy import create_engine, text
import mysql.connector
import os

In [222]:
csv_folder = "Data_Holder"
csv_folderlab = "data_sigind"

In [223]:
columnas = [
    "flujo_cond_klb_hr_time", "flujo_cond_klb_hr_value", "flujo_cana_ton_time", "flujo_cana_ton_value",
    "jcla_c1_m3_hr_time", "jcla_c1_m3_hr_value", "jcla_c2_m3_hr_time", "jcla_c2_m3_hr_value",
    "jcla_c3_m3_hr_time", "jcla_c3_m3_hr_value", "jcla_c4_m3_hr_time", "jcla_c4_m3_hr_value",
    "cond_c1_m3_hr_time", "cond_c1_m3_hr_value", "cond_c2_m3_hr_time", "cond_c2_m3_hr_value",
    "cond_c3_m3_hr_time", "cond_c3_m3_hr_value", "cond_c4_m3_hr_time", "cond_c4_m3_hr_value",
    "brix_mel_time", "brix_mel_value"
]

columnas2 = [
    "fecha_hora", "brix_jugo", "brix_melaza", "ph_alacalizado", "ph_clarificado", "ph_melada_sin_clarificador", "pza_jugo_clarificado", "pza_meladura_sin_clarificar"
]

In [224]:
def load_config(file_path="config.yaml"):
    with open(file_path, "r") as file:
        return yaml.safe_load(file)

In [225]:
config = load_config()
db_config = config["database"]

In [226]:
#Meter Credenciales
db_user = db_config["user"]
db_password = db_config["password"]
db_host = db_config["host"]
db_port = 3306 
db_name = db_config["name"]

In [227]:
print (db_name)

gestion

In [228]:
#Conectar a MySql
conn = mysql.connector.connect(
    host=db_host,
    user=db_user,
    password=db_password
)

In [229]:
#Crea un cursor para ejecutar consultas
cursor = conn.cursor()

In [230]:
#Crear la base de datos si no existe
cursor.execute(f"CREATE DATABASE IF NOT EXISTS {db_name}")

In [231]:
#Confirmar la creacion de la base de datos
print("Base de datos '{db_name}' creada o ya existía.")

Base de datos '{db_name}' creada o ya existía.

In [232]:
#Función para limpiar datos y subirlos a MySQL
def procesar_csv_y_subir(archivo_csv):
    print(f"Procesando: {archivo_csv}")
    
    try:
        # Leer el CSV
        df = pd.read_csv(archivo_csv, sep=";", engine="python")

        # 🔹 Renombrar columnas para mantener consistencia
        df.columns = columnas
        
        # 🔹 Insertar en MySQL
        with engine.connect() as conn:
            df.to_sql("gestion_table", con=engine, if_exists="append", index=False)

        print(f"{archivo_csv} cargado correctamente en MySQL.")

        #Borrar el archivo después de procesarlo
        os.remove(archivo_csv)
        print(f"Archivo eliminado: {archivo_csv}")

    except Exception as e:
        print(f"Error al procesar {archivo_csv}: {e}")

In [233]:
#Procesar y Subir  CSV de la Sigind
def procesar_csv_y_subir2(archivo_csv2):
    print(f"Procesando: {archivo_csv2}")
    
    try:
        # Leer el CSV
        # Leer desde la fila 8 (indexada como 7)
        df = pd.read_csv(archivo_csv2, sep=';', encoding='latin1')


        # 🔹 Renombrar columnas para mantener consistencia
        df.columns = columnas2
        
        # 🔹 Insertar en MySQL
        with engine.connect() as conn:
            df.to_sql("gestion_table_sigind", con=engine, if_exists="append", index=False)

        print(f"{archivo_csv2} sigind data cargada correctamente en MySQL.")

        #Borrar el archivo después de procesarlo
        os.remove(archivo_csv2)
        print(f"Archivo eliminado: {archivo_csv2}")

    except Exception as e:
        print(f"Error al procesar {archivo_csv2}: {e}")

In [234]:
#Conexion a la base de datos
try:
    conn = mysql.connector.connect(
        user=db_user, 
        password=db_password, 
        host=db_host, 
        database=db_name
    )
    cursor = conn.cursor()
    print(f"Conexión exitosa a la base de datos '{db_name}'.")

    cursor.close()
    conn.close()

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Error de autenticación: Verifica tu usuario y contraseña.")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print(f"La base de datos '{db_name}' no existe.")
    else:
        print(f"Error: {err}")

Conexión exitosa a la base de datos 'gestion'.

In [235]:
#Configuracion a mi base de datos
db_config = {
    'host': db_host,  # Cambia según tu configuración
    'user': db_user,  # Coloca tu usuario de MySQL
    'password': db_password,  # Coloca tu contraseña de MySQL
    'database': db_name  # Nombre de la base de datos
}

In [236]:
#Conectar a la base de datos
try:
    connection = mysql.connector.connect(**db_config)
    cursor = connection.cursor()

    # Consulta SQL para crear la tabla
    create_table_query = """
    CREATE TABLE IF NOT EXISTS gestion_table (
        id INT AUTO_INCREMENT PRIMARY KEY,
        flujo_cond_klb_hr_time VARCHAR(30),
        flujo_cond_klb_hr_value VARCHAR(30),
        flujo_cana_ton_time VARCHAR(30),
        flujo_cana_ton_value VARCHAR(30),
        jcla_c1_m3_hr_time VARCHAR(30),
        jcla_c1_m3_hr_value VARCHAR(30),
        jcla_c2_m3_hr_time VARCHAR(30),
        jcla_c2_m3_hr_value VARCHAR(30),
        jcla_c3_m3_hr_time VARCHAR(30),
        jcla_c3_m3_hr_value VARCHAR(30),
        jcla_c4_m3_hr_time VARCHAR(30),
        jcla_c4_m3_hr_value VARCHAR(30),
        cond_c1_m3_hr_time VARCHAR(30),
        cond_c1_m3_hr_value VARCHAR(30),
        cond_c2_m3_hr_time VARCHAR(30),
        cond_c2_m3_hr_value VARCHAR(30),
        cond_c3_m3_hr_time VARCHAR(30),
        cond_c3_m3_hr_value VARCHAR(30),
        cond_c4_m3_hr_time VARCHAR(30),
        cond_c4_m3_hr_value VARCHAR(30),
        brix_mel_time VARCHAR(30),
        brix_mel_value VARCHAR(30)
    );
    """

    # Ejecutar la consulta
    cursor.execute(create_table_query)
    print("Tabla creada exitosamente.")

except mysql.connector.Error as error:
    print(f"Error al conectar o crear la tabla: {error}")
finally:
    # Cierra la conexión
    if connection.is_connected():
        cursor.close()
        connection.close()

Tabla creada exitosamente.

In [237]:
#Conectar a la base de datos
try:
    connection = mysql.connector.connect(**db_config)
    cursor = connection.cursor()

    # Consulta SQL para crear la tabla
    create_table_query = """
    CREATE TABLE IF NOT EXISTS gestion_table_sigind (
        id INT AUTO_INCREMENT PRIMARY KEY,
        fecha_hora VARCHAR(30), 
        brix_jugo VARCHAR(30), 
        brix_melaza VARCHAR(30), 
        ph_alacalizado VARCHAR(30), 
        ph_clarificado VARCHAR(30), 
        ph_melada_sin_clarificador VARCHAR(30), 
        pza_jugo_clarificado VARCHAR(30), 
        pza_meladura_sin_clarificar VARCHAR(30)
        
    );
    """

    # Ejecutar la consulta
    cursor.execute(create_table_query)
    print("Tabla creada exitosamente.")

except mysql.connector.Error as error:
    print(f"Error al conectar o crear la tabla: {error}")
finally:
    # Cierra la conexión
    if connection.is_connected():
        cursor.close()
        connection.close()

Tabla creada exitosamente.

In [238]:
#Codificar la contraseña 
encoded_password = urllib.parse.quote_plus(db_password)

connection_url = f"mysql+mysqlconnector://{db_user}:{encoded_password}@{db_host}/{db_name}"
print(connection_url)

#Crear modelo de conexion con SQLAlchemy
engine = create_engine(connection_url)

mysql+mysqlconnector://root:root@localhost/gestion

In [239]:
#Recorrer todos los archivos CSV en la carpeta y procesarlos
for archivo in os.listdir(csv_folder):
    if archivo.endswith(".csv"):
        procesar_csv_y_subir(os.path.join(csv_folder, archivo))

print("Todos los archivos CSV han sido procesados y eliminados.")

Procesando: Data_Holder\data01032025 T1(in).csv
Data_Holder\data01032025 T1(in).csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data01032025 T1(in).csv
Procesando: Data_Holder\data01032025 T2(in).csv
Data_Holder\data01032025 T2(in).csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data01032025 T2(in).csv
Procesando: Data_Holder\data01032025 T3(in).csv
Data_Holder\data01032025 T3(in).csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data01032025 T3(in).csv
Procesando: Data_Holder\data02032025 T1(in).csv
Data_Holder\data02032025 T1(in).csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data02032025 T1(in).csv
Procesando: Data_Holder\data02032025 T2(in).csv
Data_Holder\data02032025 T2(in).csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data02032025 T2(in).csv
Procesando: Data_Holder\data02032025 T3(in).csv
Data_Holder\data02032025 T3(in).csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data02032025 T3(in).csv
Procesando: Data_Holder\data03032025 T1(in).csv
Data_Holder\data03032025 T1(in).csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data03032025 T1(in).csv
Procesando: Data_Holder\data03032025 T2.csv
Data_Holder\data03032025 T2.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data03032025 T2.csv
Procesando: Data_Holder\data03032025 T3.csv
Data_Holder\data03032025 T3.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data03032025 T3.csv
Procesando: Data_Holder\data04032025 T1.csv
Data_Holder\data04032025 T1.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data04032025 T1.csv
Procesando: Data_Holder\data04032025 T2.csv
Data_Holder\data04032025 T2.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data04032025 T2.csv
Procesando: Data_Holder\data04032025 T3.csv
Data_Holder\data04032025 T3.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data04032025 T3.csv
Procesando: Data_Holder\data05032025 T1.csv
Data_Holder\data05032025 T1.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data05032025 T1.csv
Procesando: Data_Holder\data05032025 T2.csv
Data_Holder\data05032025 T2.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data05032025 T2.csv
Procesando: Data_Holder\data05032025 T3.csv
Data_Holder\data05032025 T3.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data05032025 T3.csv
Procesando: Data_Holder\data06032025 T1.csv
Data_Holder\data06032025 T1.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data06032025 T1.csv
Procesando: Data_Holder\data06032025 T2.csv
Data_Holder\data06032025 T2.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data06032025 T2.csv
Procesando: Data_Holder\data06032025 T3.csv
Data_Holder\data06032025 T3.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data06032025 T3.csv
Procesando: Data_Holder\data07032025 T1.csv
Data_Holder\data07032025 T1.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data07032025 T1.csv
Procesando: Data_Holder\data07032025 T2.csv
Data_Holder\data07032025 T2.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data07032025 T2.csv
Procesando: Data_Holder\data07032025 T3.csv
Data_Holder\data07032025 T3.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data07032025 T3.csv
Procesando: Data_Holder\data08032025 T1.csv
Data_Holder\data08032025 T1.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data08032025 T1.csv
Procesando: Data_Holder\data08032025 T2.csv
Data_Holder\data08032025 T2.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data08032025 T2.csv
Procesando: Data_Holder\data08032025 T3.csv
Data_Holder\data08032025 T3.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data08032025 T3.csv
Procesando: Data_Holder\data09032025 T1.csv
Data_Holder\data09032025 T1.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data09032025 T1.csv
Procesando: Data_Holder\data09032025 T2.csv
Data_Holder\data09032025 T2.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data09032025 T2.csv
Procesando: Data_Holder\data10032025 T1.csv
Data_Holder\data10032025 T1.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data10032025 T1.csv
Procesando: Data_Holder\data10032025 T2.csv
Data_Holder\data10032025 T2.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data10032025 T2.csv
Procesando: Data_Holder\data10032025 T3.csv
Data_Holder\data10032025 T3.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data10032025 T3.csv
Procesando: Data_Holder\data11032025 T1.csv
Data_Holder\data11032025 T1.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data11032025 T1.csv
Procesando: Data_Holder\data11032025 T2.csv
Data_Holder\data11032025 T2.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data11032025 T2.csv
Procesando: Data_Holder\data11032025 T3.csv
Data_Holder\data11032025 T3.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data11032025 T3.csv
Procesando: Data_Holder\data12032025 T1.csv
Data_Holder\data12032025 T1.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data12032025 T1.csv
Procesando: Data_Holder\data12032025 T2.csv
Data_Holder\data12032025 T2.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data12032025 T2.csv
Procesando: Data_Holder\data12032025 T3.csv
Data_Holder\data12032025 T3.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data12032025 T3.csv
Procesando: Data_Holder\data13032025 T1.csv
Data_Holder\data13032025 T1.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data13032025 T1.csv
Procesando: Data_Holder\data13032025 T2.csv
Data_Holder\data13032025 T2.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data13032025 T2.csv
Procesando: Data_Holder\data13032025 T3.csv
Data_Holder\data13032025 T3.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data13032025 T3.csv
Procesando: Data_Holder\data14032025 T1.csv
Data_Holder\data14032025 T1.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data14032025 T1.csv
Procesando: Data_Holder\data14032025 T2.csv
Data_Holder\data14032025 T2.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data14032025 T2.csv
Procesando: Data_Holder\data14032025 T3.csv
Data_Holder\data14032025 T3.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data14032025 T3.csv
Procesando: Data_Holder\data15032025 T1.csv
Data_Holder\data15032025 T1.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data15032025 T1.csv
Procesando: Data_Holder\data15032025 T2.csv
Data_Holder\data15032025 T2.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data15032025 T2.csv
Procesando: Data_Holder\data15032025 T3.csv
Data_Holder\data15032025 T3.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data15032025 T3.csv
Procesando: Data_Holder\data16032025 T1.csv
Data_Holder\data16032025 T1.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data16032025 T1.csv
Procesando: Data_Holder\data16032025 T2.csv
Data_Holder\data16032025 T2.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data16032025 T2.csv
Procesando: Data_Holder\data16032025 T3.csv
Data_Holder\data16032025 T3.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data16032025 T3.csv
Procesando: Data_Holder\data17032025 T1.csv
Data_Holder\data17032025 T1.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data17032025 T1.csv
Procesando: Data_Holder\data17032025 T2.csv
Data_Holder\data17032025 T2.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data17032025 T2.csv
Procesando: Data_Holder\data17032025 T3.csv
Data_Holder\data17032025 T3.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data17032025 T3.csv
Procesando: Data_Holder\data18032025 T1.csv
Data_Holder\data18032025 T1.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data18032025 T1.csv
Procesando: Data_Holder\data18032025 T2.csv
Data_Holder\data18032025 T2.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data18032025 T2.csv
Procesando: Data_Holder\data18032025 T3.csv
Data_Holder\data18032025 T3.csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data18032025 T3.csv
Todos los archivos CSV han sido procesados y eliminados.

In [240]:
#Recorrer todos los archivos CSV sigind en la carpeta y procesarlos
for archivo2 in os.listdir(csv_folderlab):
    if archivo2.endswith(".csv"):
        procesar_csv_y_subir2(os.path.join(csv_folderlab, archivo2))

print("Todos los archivos CSV sigind han sido procesados y eliminados.")

Procesando: data_sigind\Sigind marzo 10(Hoja2).csv
data_sigind\Sigind marzo 10(Hoja2).csv sigind data cargada correctamente en MySQL.
Archivo eliminado: data_sigind\Sigind marzo 10(Hoja2).csv
Todos los archivos CSV sigind han sido procesados y eliminados.

# Transformacion

In [241]:
with engine.connect() as conn:
    db_extract_df1 = pd.read_sql("SELECT * FROM gestion_table", conn)

db_extract_df1.head(5)

,id,flujo_cond_klb_hr_time,flujo_cond_klb_hr_value,flujo_cana_ton_time,flujo_cana_ton_value,jcla_c1_m3_hr_time,jcla_c1_m3_hr_value,jcla_c2_m3_hr_time,jcla_c2_m3_hr_value,jcla_c3_m3_hr_time,...,cond_c1_m3_hr_time,cond_c1_m3_hr_value,cond_c2_m3_hr_time,cond_c2_m3_hr_value,cond_c3_m3_hr_time,cond_c3_m3_hr_value,cond_c4_m3_hr_time,cond_c4_m3_hr_value,brix_mel_time,brix_mel_value
0,1,01/03/2025 5:48,"318,779,312,133,789",01/03/2025 5:48,"451,159,912,109,375",01/03/2025 5:48,"156,419,372,558,594",01/03/2025 5:48,"118,804,649,353,027",01/03/2025 5:48,...,01/03/2025 5:48,"646,249,771,118,164",01/03/2025 5:48,"548,379,211,425,781",01/03/2025 5:48,"769,293,365,478,516",01/03/2025 5:48,0,01/03/2025 5:48,"496,836,624,145,508"
1,2,01/03/2025 5:48,"318,893,249,511,719",01/03/2025 5:48,"449,883,178,710,938",01/03/2025 5:48,"155,030,517,578,125",01/03/2025 5:48,"118,341,697,692,871",01/03/2025 5:48,...,01/03/2025 5:48,"636,701,469,421,387",01/03/2025 5:48,"505,845,642,089,844",01/03/2025 5:48,"754,102,783,203,125",01/03/2025 5:48,0,01/03/2025 5:48,"49,931,697,845,459"
2,3,01/03/2025 5:48,"320,480,117,797,852",01/03/2025 5:48,"449,400,299,072,266",01/03/2025 5:48,"154,220,352,172,852",01/03/2025 5:48,"117,936,614,990,234",01/03/2025 5:48,...,01/03/2025 5:48,"647,334,823,608,398",01/03/2025 5:48,"497,382,316,589,355",01/03/2025 5:48,"729,363,861,083,984",01/03/2025 5:48,0,01/03/2025 5:48,"507,970,771,789,551"
3,4,01/03/2025 5:48,"317,176,177,978,516",01/03/2025 5:48,"445,769,958,496,094",01/03/2025 5:48,"152,715,759,277,344",01/03/2025 5:48,"116,721,374,511,719",01/03/2025 5:48,...,01/03/2025 5:48,"655,581,130,981,445",01/03/2025 5:48,"532,320,594,787,598",01/03/2025 5:48,"742,384,338,378,906",01/03/2025 5:48,0,01/03/2025 5:48,"520,215,492,248,535"
4,5,01/03/2025 5:48,"3,191,455,078,125",01/03/2025 5:48,"433,966,064,453,125",01/03/2025 5:48,"151,963,470,458,984",01/03/2025 5:48,"115,158,912,658,691",01/03/2025 5:48,...,01/03/2025 5:48,"645,381,774,902,344",01/03/2025 5:48,"528,414,459,228,516",01/03/2025 5:48,"735,657,119,750,977",01/03/2025 5:48,0,01/03/2025 5:48,"529,529,266,357,422"

In [242]:
with engine.connect() as conn:
    db_extract_df2 = pd.read_sql("SELECT * FROM gestion_table_sigind", conn)

db_extract_df2.head(5)

,id,fecha_hora,brix_jugo,brix_melaza,ph_alacalizado,ph_clarificado,ph_melada_sin_clarificador,pza_jugo_clarificado,pza_meladura_sin_clarificar
0,1,01/03/sábado 06:30,None,59,"7,89","7,32","6,42",None,None
1,2,01/03/sábado 08:30,None,"59,16","7,58",None,"6,34",None,"84,843"
2,3,01/03/sábado 10:30,None,"58,72","7,46","6,88","6,2",None,None
3,4,01/03/sábado 12:30,"11,6","60,44","7,47","6,88","6,17","85,293","85,903"
4,5,01/03/sábado 14:30,None,"60,2","7,43","6,8","6,15",None,None

In [243]:
db_extract_df1.isna().sum()

id                               0
flujo_cond_klb_hr_time      763196
flujo_cond_klb_hr_value     763196
flujo_cana_ton_time              0
flujo_cana_ton_value             0
jcla_c1_m3_hr_time          763196
jcla_c1_m3_hr_value         763196
jcla_c2_m3_hr_time          763196
jcla_c2_m3_hr_value         763196
jcla_c3_m3_hr_time          763196
jcla_c3_m3_hr_value         763196
jcla_c4_m3_hr_time          763196
jcla_c4_m3_hr_value         763196
cond_c1_m3_hr_time          763196
cond_c1_m3_hr_value         763196
cond_c2_m3_hr_time          763196
cond_c2_m3_hr_value         763196
cond_c3_m3_hr_time          763196
cond_c3_m3_hr_value         763196
cond_c4_m3_hr_time          763196
cond_c4_m3_hr_value         763196
brix_mel_time              1221114
brix_mel_value             1221114
dtype: int64

In [244]:
db_extract_df1 = db_extract_df1[db_extract_df1.iloc[:, 1].notna()]
db_extract_df1["brix_mel_time"] = db_extract_df1["brix_mel_time"].fillna(0)
db_extract_df1["brix_mel_value"] = db_extract_df1["brix_mel_value"].fillna(0)

In [245]:
db_extract_df1.isna().sum()

id                         0
flujo_cond_klb_hr_time     0
flujo_cond_klb_hr_value    0
flujo_cana_ton_time        0
flujo_cana_ton_value       0
jcla_c1_m3_hr_time         0
jcla_c1_m3_hr_value        0
jcla_c2_m3_hr_time         0
jcla_c2_m3_hr_value        0
jcla_c3_m3_hr_time         0
jcla_c3_m3_hr_value        0
jcla_c4_m3_hr_time         0
jcla_c4_m3_hr_value        0
cond_c1_m3_hr_time         0
cond_c1_m3_hr_value        0
cond_c2_m3_hr_time         0
cond_c2_m3_hr_value        0
cond_c3_m3_hr_time         0
cond_c3_m3_hr_value        0
cond_c4_m3_hr_time         0
cond_c4_m3_hr_value        0
brix_mel_time              0
brix_mel_value             0
dtype: int64

In [246]:
db_extract_df1

,id,flujo_cond_klb_hr_time,flujo_cond_klb_hr_value,flujo_cana_ton_time,flujo_cana_ton_value,jcla_c1_m3_hr_time,jcla_c1_m3_hr_value,jcla_c2_m3_hr_time,jcla_c2_m3_hr_value,jcla_c3_m3_hr_time,...,cond_c1_m3_hr_time,cond_c1_m3_hr_value,cond_c2_m3_hr_time,cond_c2_m3_hr_value,cond_c3_m3_hr_time,cond_c3_m3_hr_value,cond_c4_m3_hr_time,cond_c4_m3_hr_value,brix_mel_time,brix_mel_value
0,1,01/03/2025 5:48,"318,779,312,133,789",01/03/2025 5:48,"451,159,912,109,375",01/03/2025 5:48,"156,419,372,558,594",01/03/2025 5:48,"118,804,649,353,027",01/03/2025 5:48,...,01/03/2025 5:48,"646,249,771,118,164",01/03/2025 5:48,"548,379,211,425,781",01/03/2025 5:48,"769,293,365,478,516",01/03/2025 5:48,0,01/03/2025 5:48,"496,836,624,145,508"
1,2,01/03/2025 5:48,"318,893,249,511,719",01/03/2025 5:48,"449,883,178,710,938",01/03/2025 5:48,"155,030,517,578,125",01/03/2025 5:48,"118,341,697,692,871",01/03/2025 5:48,...,01/03/2025 5:48,"636,701,469,421,387",01/03/2025 5:48,"505,845,642,089,844",01/03/2025 5:48,"754,102,783,203,125",01/03/2025 5:48,0,01/03/2025 5:48,"49,931,697,845,459"
2,3,01/03/2025 5:48,"320,480,117,797,852",01/03/2025 5:48,"449,400,299,072,266",01/03/2025 5:48,"154,220,352,172,852",01/03/2025 5:48,"117,936,614,990,234",01/03/2025 5:48,...,01/03/2025 5:48,"647,334,823,608,398",01/03/2025 5:48,"497,382,316,589,355",01/03/2025 5:48,"729,363,861,083,984",01/03/2025 5:48,0,01/03/2025 5:48,"507,970,771,789,551"
3,4,01/03/2025 5:48,"317,176,177,978,516",01/03/2025 5:48,"445,769,958,496,094",01/03/2025 5:48,"152,715,759,277,344",01/03/2025 5:48,"116,721,374,511,719",01/03/2025 5:48,...,01/03/2025 5:48,"655,581,130,981,445",01/03/2025 5:48,"532,320,594,787,598",01/03/2025 5:48,"742,384,338,378,906",01/03/2025 5:48,0,01/03/2025 5:48,"520,215,492,248,535"
4,5,01/03/2025 5:48,"3,191,455,078,125",01/03/2025 5:48,"433,966,064,453,125",01/03/2025 5:48,"151,963,470,458,984",01/03/2025 5:48,"115,158,912,658,691",01/03/2025 5:48,...,01/03/2025 5:48,"645,381,774,902,344",01/03/2025 5:48,"528,414,459,228,516",01/03/2025 5:48,"735,657,119,750,977",01/03/2025 5:48,0,01/03/2025 5:48,"529,529,266,357,422"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1511988,1511989,19/3/2025 06:07,"800,651,016,235,352",19/3/2025 02:07,"-448,510,437,011,719",19/3/2025 06:07,"0,173606395721436",19/3/2025 06:07,"0,115737602114677",19/3/2025 06:07,...,19/3/2025 06:07,4.34E+12,19/3/2025 06:07,6.51E+12,19/3/2025 06:07,2170000000000.0,19/3/2025 06:07,-2170000000000.0,0,0
1511989,1511990,19/3/2025 06:07,"800,244,140,625",19/3/2025 02:07,"-448,257,293,701,172",19/3/2025 06:07,"0,173606395721436",19/3/2025 06:07,"0,115737602114677",19/3/2025 06:07,...,19/3/2025 06:07,4.34E+12,19/3/2025 06:07,6.51E+12,19/3/2025 06:07,2170000000000.0,19/3/2025 06:07,-2170000000000.0,0,0
1511990,1511991,19/3/2025 06:07,"800,406,913,757,324",19/3/2025 02:07,"-448,485,145,568,848",19/3/2025 06:07,"0,173606395721436",19/3/2025 06:07,"0,115737602114677",19/3/2025 06:07,...,19/3/2025 06:07,4.34E+12,19/3/2025 06:07,6.51E+12,19/3/2025 06:07,2170000000000.0,19/3/2025 06:07,-2170000000000.0,0,0
1511991,1511992,19/3/2025 06:07,"800,406,875,610,352",19/3/2025 02:07,"-231,726,379,394,531",19/3/2025 06:07,"0,173606395721436",19/3/2025 06:07,"0,115737602114677",19/3/2025 06:07,...,19/3/2025 06:07,4.34E+12,19/3/2025 06:07,6.51E+12,19/3/2025 06:07,2170000000000.0,19/3/2025 06:07,-2170000000000.0,0,0
1511992,1511993,19/3/2025 06:07,"800,325,508,117,676",19/3/2025 02:07,"-231,625,099,182,129",19/3/2025 06:07,"0,173606395721436",19/3/2025 06:07,"0,115737602114677",19/3/2025 06:07,...,19/3/2025 06:07,4.34E+12,19/3/2025 06:07,6.51E+12,19/3/2025 06:07,2170000000000.0,19/3/2025 06:07,-2170000000000.0,0,0

In [247]:
# Convertir todos los None en NaN reales
db_extract_df2 = db_extract_df2.replace(to_replace=[None], value=np.nan)

# Ahora sí, imputar la mediana correctamente
db_extract_df2 = db_extract_df2.fillna(db_extract_df2.median(numeric_only=True))

In [248]:
#Detectar columnas numéricas excepto 'id' y 'fecha_hora'
columnas_numericas = db_extract_df2.columns.difference(["id", "fecha_hora"])

#Reemplazar comas por puntos y convertir a numérico
for col in columnas_numericas:
    db_extract_df2[col] = db_extract_df2[col].astype(str).str.replace(",", ".")
    db_extract_df2[col] = pd.to_numeric(db_extract_df2[col], errors="coerce")

#imputar la mediana en columnas numéricas
db_extract_df2 = db_extract_df2.fillna(db_extract_df2.median(numeric_only=True))

In [249]:
# Asegurar que la columna sea string
db_extract_df2["fecha_hora_str"] = db_extract_df2["fecha_hora"].astype(str)

# Extraer los 6 primeros y los 5 últimos caracteres
db_extract_df2["fecha_inicio"] = db_extract_df2["fecha_hora_str"].str[:6]
db_extract_df2["hora_fin"] = db_extract_df2["fecha_hora_str"].str[-5:]

In [250]:
db_extract_df2

,id,fecha_hora,brix_jugo,brix_melaza,ph_alacalizado,ph_clarificado,ph_melada_sin_clarificador,pza_jugo_clarificado,pza_meladura_sin_clarificar,fecha_hora_str,fecha_inicio,hora_fin
0,1,01/03/sábado 06:30,11.74,59.00,7.890,7.32,6.42,85.696,86.246,01/03/sábado 06:30,01/03/,06:30
1,2,01/03/sábado 08:30,11.74,59.16,7.580,7.18,6.34,85.696,84.843,01/03/sábado 08:30,01/03/,08:30
2,3,01/03/sábado 10:30,11.74,58.72,7.460,6.88,6.20,85.696,86.246,01/03/sábado 10:30,01/03/,10:30
3,4,01/03/sábado 12:30,11.60,60.44,7.470,6.88,6.17,85.293,85.903,01/03/sábado 12:30,01/03/,12:30
4,5,01/03/sábado 14:30,11.74,60.20,7.430,6.80,6.15,85.696,86.246,01/03/sábado 14:30,01/03/,14:30
...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,18/03/martes 08:30,11.74,63.84,7.660,7.18,6.15,85.696,85.235,18/03/martes 08:30,18/03/,08:30
211,212,18/03/martes 10:30,11.74,58.48,7.810,7.02,6.12,85.696,86.246,18/03/martes 10:30,18/03/,10:30
212,213,18/03/martes 12:30,11.71,61.32,7.400,7.18,6.15,85.927,85.577,18/03/martes 12:30,18/03/,12:30
213,214,18/03/martes 14:30,11.74,65.48,7.535,7.18,5.93,85.696,86.246,18/03/martes 14:30,18/03/,14:30
214,215,18/03/martes 16:30,11.74,65.36,7.535,7.18,6.19,85.696,85.092,18/03/martes 16:30,18/03/,16:30

In [251]:
db_extract_df2["fecha_hora_compuesta"] = db_extract_df2["fecha_inicio"] + "2025 " + db_extract_df2["hora_fin"]

In [252]:
db_extract_df2

,id,fecha_hora,brix_jugo,brix_melaza,ph_alacalizado,ph_clarificado,ph_melada_sin_clarificador,pza_jugo_clarificado,pza_meladura_sin_clarificar,fecha_hora_str,fecha_inicio,hora_fin,fecha_hora_compuesta
0,1,01/03/sábado 06:30,11.74,59.00,7.890,7.32,6.42,85.696,86.246,01/03/sábado 06:30,01/03/,06:30,01/03/2025 06:30
1,2,01/03/sábado 08:30,11.74,59.16,7.580,7.18,6.34,85.696,84.843,01/03/sábado 08:30,01/03/,08:30,01/03/2025 08:30
2,3,01/03/sábado 10:30,11.74,58.72,7.460,6.88,6.20,85.696,86.246,01/03/sábado 10:30,01/03/,10:30,01/03/2025 10:30
3,4,01/03/sábado 12:30,11.60,60.44,7.470,6.88,6.17,85.293,85.903,01/03/sábado 12:30,01/03/,12:30,01/03/2025 12:30
4,5,01/03/sábado 14:30,11.74,60.20,7.430,6.80,6.15,85.696,86.246,01/03/sábado 14:30,01/03/,14:30,01/03/2025 14:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,18/03/martes 08:30,11.74,63.84,7.660,7.18,6.15,85.696,85.235,18/03/martes 08:30,18/03/,08:30,18/03/2025 08:30
211,212,18/03/martes 10:30,11.74,58.48,7.810,7.02,6.12,85.696,86.246,18/03/martes 10:30,18/03/,10:30,18/03/2025 10:30
212,213,18/03/martes 12:30,11.71,61.32,7.400,7.18,6.15,85.927,85.577,18/03/martes 12:30,18/03/,12:30,18/03/2025 12:30
213,214,18/03/martes 14:30,11.74,65.48,7.535,7.18,5.93,85.696,86.246,18/03/martes 14:30,18/03/,14:30,18/03/2025 14:30
214,215,18/03/martes 16:30,11.74,65.36,7.535,7.18,6.19,85.696,85.092,18/03/martes 16:30,18/03/,16:30,18/03/2025 16:30

In [253]:
db_extract_df2["fecha_hora_compuesta"] = pd.to_datetime(
    db_extract_df2["fecha_hora_compuesta"], format="%d/%m/%Y %H:%M", errors="coerce"
)

In [254]:
db_extract_df2

,id,fecha_hora,brix_jugo,brix_melaza,ph_alacalizado,ph_clarificado,ph_melada_sin_clarificador,pza_jugo_clarificado,pza_meladura_sin_clarificar,fecha_hora_str,fecha_inicio,hora_fin,fecha_hora_compuesta
0,1,01/03/sábado 06:30,11.74,59.00,7.890,7.32,6.42,85.696,86.246,01/03/sábado 06:30,01/03/,06:30,2025-03-01 06:30:00
1,2,01/03/sábado 08:30,11.74,59.16,7.580,7.18,6.34,85.696,84.843,01/03/sábado 08:30,01/03/,08:30,2025-03-01 08:30:00
2,3,01/03/sábado 10:30,11.74,58.72,7.460,6.88,6.20,85.696,86.246,01/03/sábado 10:30,01/03/,10:30,2025-03-01 10:30:00
3,4,01/03/sábado 12:30,11.60,60.44,7.470,6.88,6.17,85.293,85.903,01/03/sábado 12:30,01/03/,12:30,2025-03-01 12:30:00
4,5,01/03/sábado 14:30,11.74,60.20,7.430,6.80,6.15,85.696,86.246,01/03/sábado 14:30,01/03/,14:30,2025-03-01 14:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,18/03/martes 08:30,11.74,63.84,7.660,7.18,6.15,85.696,85.235,18/03/martes 08:30,18/03/,08:30,2025-03-18 08:30:00
211,212,18/03/martes 10:30,11.74,58.48,7.810,7.02,6.12,85.696,86.246,18/03/martes 10:30,18/03/,10:30,2025-03-18 10:30:00
212,213,18/03/martes 12:30,11.71,61.32,7.400,7.18,6.15,85.927,85.577,18/03/martes 12:30,18/03/,12:30,2025-03-18 12:30:00
213,214,18/03/martes 14:30,11.74,65.48,7.535,7.18,5.93,85.696,86.246,18/03/martes 14:30,18/03/,14:30,2025-03-18 14:30:00
214,215,18/03/martes 16:30,11.74,65.36,7.535,7.18,6.19,85.696,85.092,18/03/martes 16:30,18/03/,16:30,2025-03-18 16:30:00

In [255]:
db_extract_df2.drop(columns=["fecha_hora", "fecha_hora_str", "fecha_inicio", "hora_fin"], inplace=True)
# Reordenar columnas: poner fecha_hora_compuesta en segundo lugar
cols = db_extract_df2.columns.tolist()
# Sacar la columna si ya está en la lista (por si está en otro lugar)
cols.remove("fecha_hora_compuesta")
# Insertarla en la segunda posición
cols.insert(1, "fecha_hora_compuesta")
# Reordenar el DataFrame
db_extract_df2 = db_extract_df2[cols]

In [256]:
db_extract_df2

,id,fecha_hora_compuesta,brix_jugo,brix_melaza,ph_alacalizado,ph_clarificado,ph_melada_sin_clarificador,pza_jugo_clarificado,pza_meladura_sin_clarificar
0,1,2025-03-01 06:30:00,11.74,59.00,7.890,7.32,6.42,85.696,86.246
1,2,2025-03-01 08:30:00,11.74,59.16,7.580,7.18,6.34,85.696,84.843
2,3,2025-03-01 10:30:00,11.74,58.72,7.460,6.88,6.20,85.696,86.246
3,4,2025-03-01 12:30:00,11.60,60.44,7.470,6.88,6.17,85.293,85.903
4,5,2025-03-01 14:30:00,11.74,60.20,7.430,6.80,6.15,85.696,86.246
...,...,...,...,...,...,...,...,...,...
210,211,2025-03-18 08:30:00,11.74,63.84,7.660,7.18,6.15,85.696,85.235
211,212,2025-03-18 10:30:00,11.74,58.48,7.810,7.02,6.12,85.696,86.246
212,213,2025-03-18 12:30:00,11.71,61.32,7.400,7.18,6.15,85.927,85.577
213,214,2025-03-18 14:30:00,11.74,65.48,7.535,7.18,5.93,85.696,86.246
214,215,2025-03-18 16:30:00,11.74,65.36,7.535,7.18,6.19,85.696,85.092

In [257]:
columnas_fecha = [
    "flujo_cond_klb_hr_time",
    "flujo_cana_ton_time",
    "jcla_c1_m3_hr_time",
    "jcla_c2_m3_hr_time",
    "jcla_c3_m3_hr_time",
    "jcla_c4_m3_hr_time",
    "cond_c1_m3_hr_time",
    "cond_c2_m3_hr_time",
    "cond_c3_m3_hr_time",
    "cond_c4_m3_hr_time",
    "brix_mel_time"
]

In [258]:
db_extract_df1.head(5)

,id,flujo_cond_klb_hr_time,flujo_cond_klb_hr_value,flujo_cana_ton_time,flujo_cana_ton_value,jcla_c1_m3_hr_time,jcla_c1_m3_hr_value,jcla_c2_m3_hr_time,jcla_c2_m3_hr_value,jcla_c3_m3_hr_time,...,cond_c1_m3_hr_time,cond_c1_m3_hr_value,cond_c2_m3_hr_time,cond_c2_m3_hr_value,cond_c3_m3_hr_time,cond_c3_m3_hr_value,cond_c4_m3_hr_time,cond_c4_m3_hr_value,brix_mel_time,brix_mel_value
0,1,01/03/2025 5:48,"318,779,312,133,789",01/03/2025 5:48,"451,159,912,109,375",01/03/2025 5:48,"156,419,372,558,594",01/03/2025 5:48,"118,804,649,353,027",01/03/2025 5:48,...,01/03/2025 5:48,"646,249,771,118,164",01/03/2025 5:48,"548,379,211,425,781",01/03/2025 5:48,"769,293,365,478,516",01/03/2025 5:48,0,01/03/2025 5:48,"496,836,624,145,508"
1,2,01/03/2025 5:48,"318,893,249,511,719",01/03/2025 5:48,"449,883,178,710,938",01/03/2025 5:48,"155,030,517,578,125",01/03/2025 5:48,"118,341,697,692,871",01/03/2025 5:48,...,01/03/2025 5:48,"636,701,469,421,387",01/03/2025 5:48,"505,845,642,089,844",01/03/2025 5:48,"754,102,783,203,125",01/03/2025 5:48,0,01/03/2025 5:48,"49,931,697,845,459"
2,3,01/03/2025 5:48,"320,480,117,797,852",01/03/2025 5:48,"449,400,299,072,266",01/03/2025 5:48,"154,220,352,172,852",01/03/2025 5:48,"117,936,614,990,234",01/03/2025 5:48,...,01/03/2025 5:48,"647,334,823,608,398",01/03/2025 5:48,"497,382,316,589,355",01/03/2025 5:48,"729,363,861,083,984",01/03/2025 5:48,0,01/03/2025 5:48,"507,970,771,789,551"
3,4,01/03/2025 5:48,"317,176,177,978,516",01/03/2025 5:48,"445,769,958,496,094",01/03/2025 5:48,"152,715,759,277,344",01/03/2025 5:48,"116,721,374,511,719",01/03/2025 5:48,...,01/03/2025 5:48,"655,581,130,981,445",01/03/2025 5:48,"532,320,594,787,598",01/03/2025 5:48,"742,384,338,378,906",01/03/2025 5:48,0,01/03/2025 5:48,"520,215,492,248,535"
4,5,01/03/2025 5:48,"3,191,455,078,125",01/03/2025 5:48,"433,966,064,453,125",01/03/2025 5:48,"151,963,470,458,984",01/03/2025 5:48,"115,158,912,658,691",01/03/2025 5:48,...,01/03/2025 5:48,"645,381,774,902,344",01/03/2025 5:48,"528,414,459,228,516",01/03/2025 5:48,"735,657,119,750,977",01/03/2025 5:48,0,01/03/2025 5:48,"529,529,266,357,422"

In [259]:
columnas_numericas1 = db_extract_df1.columns.difference(["id","flujo_cond_klb_hr_time",
    "flujo_cana_ton_time",
    "jcla_c1_m3_hr_time",
    "jcla_c2_m3_hr_time",
    "jcla_c3_m3_hr_time",
    "jcla_c4_m3_hr_time",
    "cond_c1_m3_hr_time",
    "cond_c2_m3_hr_time",
    "cond_c3_m3_hr_time",
    "cond_c4_m3_hr_time",
    "brix_mel_time"])

#Reemplazar comas por puntos y a numerico
for col in columnas_numericas1:
    db_extract_df1[col] = db_extract_df1[col].astype(str).str.replace(",", ".")
    db_extract_df1[col] = pd.to_numeric(db_extract_df1[col], errors="coerce")

In [260]:
db_extract_df1

,id,flujo_cond_klb_hr_time,flujo_cond_klb_hr_value,flujo_cana_ton_time,flujo_cana_ton_value,jcla_c1_m3_hr_time,jcla_c1_m3_hr_value,jcla_c2_m3_hr_time,jcla_c2_m3_hr_value,jcla_c3_m3_hr_time,...,cond_c1_m3_hr_time,cond_c1_m3_hr_value,cond_c2_m3_hr_time,cond_c2_m3_hr_value,cond_c3_m3_hr_time,cond_c3_m3_hr_value,cond_c4_m3_hr_time,cond_c4_m3_hr_value,brix_mel_time,brix_mel_value
0,1,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,...,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,0.000000e+00,01/03/2025 5:48,NaN
1,2,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,...,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,0.000000e+00,01/03/2025 5:48,NaN
2,3,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,...,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,0.000000e+00,01/03/2025 5:48,NaN
3,4,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,...,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,0.000000e+00,01/03/2025 5:48,NaN
4,5,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,...,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,0.000000e+00,01/03/2025 5:48,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1511988,1511989,19/3/2025 06:07,NaN,19/3/2025 02:07,NaN,19/3/2025 06:07,0.173606,19/3/2025 06:07,0.115738,19/3/2025 06:07,...,19/3/2025 06:07,4.340000e+12,19/3/2025 06:07,6.510000e+12,19/3/2025 06:07,2.170000e+12,19/3/2025 06:07,-2.170000e+12,0,0.0
1511989,1511990,19/3/2025 06:07,NaN,19/3/2025 02:07,NaN,19/3/2025 06:07,0.173606,19/3/2025 06:07,0.115738,19/3/2025 06:07,...,19/3/2025 06:07,4.340000e+12,19/3/2025 06:07,6.510000e+12,19/3/2025 06:07,2.170000e+12,19/3/2025 06:07,-2.170000e+12,0,0.0
1511990,1511991,19/3/2025 06:07,NaN,19/3/2025 02:07,NaN,19/3/2025 06:07,0.173606,19/3/2025 06:07,0.115738,19/3/2025 06:07,...,19/3/2025 06:07,4.340000e+12,19/3/2025 06:07,6.510000e+12,19/3/2025 06:07,2.170000e+12,19/3/2025 06:07,-2.170000e+12,0,0.0
1511991,1511992,19/3/2025 06:07,NaN,19/3/2025 02:07,NaN,19/3/2025 06:07,0.173606,19/3/2025 06:07,0.115738,19/3/2025 06:07,...,19/3/2025 06:07,4.340000e+12,19/3/2025 06:07,6.510000e+12,19/3/2025 06:07,2.170000e+12,19/3/2025 06:07,-2.170000e+12,0,0.0
1511992,1511993,19/3/2025 06:07,NaN,19/3/2025 02:07,NaN,19/3/2025 06:07,0.173606,19/3/2025 06:07,0.115738,19/3/2025 06:07,...,19/3/2025 06:07,4.340000e+12,19/3/2025 06:07,6.510000e+12,19/3/2025 06:07,2.170000e+12,19/3/2025 06:07,-2.170000e+12,0,0.0

In [261]:
db_extract_df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 763197 entries, 0 to 1511992
Data columns (total 23 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       763197 non-null  int64
 1   flujo_cond_klb_hr_time   763197 non-null  object
 2   flujo_cond_klb_hr_value  43670 non-null   float64
 3   flujo_cana_ton_time      763197 non-null  object
 4   flujo_cana_ton_value     44679 non-null   float64
 5   jcla_c1_m3_hr_time       763197 non-null  object
 6   jcla_c1_m3_hr_value      349163 non-null  float64
 7   jcla_c2_m3_hr_time       763197 non-null  object
 8   jcla_c2_m3_hr_value      452032 non-null  float64
 9   jcla_c3_m3_hr_time       763197 non-null  object
 10  jcla_c3_m3_hr_value      473588 non-null  float64
 11  jcla_c4_m3_hr_time       763197 non-null  object
 12  jcla_c4_m3_hr_value      316932 non-null  float64
 13  cond_c1_m3_hr_time       763197 non-null  object
 14  cond_c1_m3_hr_value      314322 non-null  float64
 15  cond_c2_m3_hr_time       763197 non-null  object
 16  cond_c2_m3_hr_value      377277 non-null  float64
 17  cond_c3_m3_hr_time       763197 non-null  object
 18  cond_c3_m3_hr_value      459182 non-null  float64
 19  cond_c4_m3_hr_time       763197 non-null  object
 20  cond_c4_m3_hr_value      284886 non-null  float64
 21  brix_mel_time            763197 non-null  object
 22  brix_mel_value           475296 non-null  float64
dtypes: float64(11), int64(1), object(11)
memory usage: 139.7+ MB

In [262]:
# Calcular el Indicador 1
db_extract_df1["indicador_1"] = (
    db_extract_df1["flujo_cond_klb_hr_value"] * 1000
) / db_extract_df1["flujo_cana_ton_value"]

# Crear nueva tabla con el tiempo y el indicador
indicador_1_df = db_extract_df1[[
    "flujo_cond_klb_hr_time", "indicador_1"
]].copy()

# Renombrar columna de tiempo si querés más claridad
indicador_1_df.rename(columns={
    "flujo_cond_klb_hr_time": "tiempo",
    "indicador_1": "Indicador 1"
}, inplace=True)

In [263]:
indicador_1_df

                  tiempo  Indicador 1
0        01/03/2025 5:48          NaN
1        01/03/2025 5:48          NaN
2        01/03/2025 5:48          NaN
3        01/03/2025 5:48          NaN
4        01/03/2025 5:48          NaN
...                  ...          ...
1511988  19/3/2025 06:07          NaN
1511989  19/3/2025 06:07          NaN
1511990  19/3/2025 06:07          NaN
1511991  19/3/2025 06:07          NaN
1511992  19/3/2025 06:07          NaN

[763197 rows x 2 columns]

In [264]:
# Asegurar que la columna 'tiempo' es datetime
indicador_1_df['tiempo'] = pd.to_datetime(indicador_1_df['tiempo'])

# Obtener la primera fecha en los datos y ajustar a las 06:30
inicio = indicador_1_df['tiempo'].min().replace(hour=6, minute=30, second=0, microsecond=0)

# Generar los intervalos de 2 horas desde el primer dato sin reiniciar cada día
indicador_1_df['intervalo'] = inicio + ((indicador_1_df['tiempo'] - inicio) // pd.Timedelta(hours=2)) * pd.Timedelta(hours=2)

# Detectar y eliminar valores atípicos usando el rango intercuartílico (IQR)
Q1 = indicador_1_df['Indicador 1'].quantile(0.25)
Q3 = indicador_1_df['Indicador 1'].quantile(0.75)
IQR = Q3 - Q1

# Definir límites para detectar valores atípicos
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

# Filtrar los valores dentro del rango permitido
indicador_1_df_filtrado = indicador_1_df[(indicador_1_df['Indicador 1'] >= limite_inferior) & (indicador_1_df['Indicador 1'] <= limite_superior)]

# Agrupar por el intervalo de 2 horas y calcular la media sin valores atípicos
indicador_1_df_agrupado = indicador_1_df_filtrado.groupby('intervalo', as_index=False)['Indicador 1'].mean()

# Renombrar la columna "intervalo" a "tiempo"
indicador_1_df_agrupado = indicador_1_df_agrupado.rename(columns={'intervalo': 'tiempo'})

# Mostrar los primeros resultados
print(indicador_1_df_agrupado.head())

ValueError: unconverted data remains when parsing with format "%m/%d/%Y %H:%M": ":06 PM", at position 3363. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [265]:
indicador_1_df_agrupado

           fecha_hora   Indicador_1
0 2025-02-03 16:30:00 -80403.493111

In [266]:
db_extract_df1

,id,flujo_cond_klb_hr_time,flujo_cond_klb_hr_value,flujo_cana_ton_time,flujo_cana_ton_value,jcla_c1_m3_hr_time,jcla_c1_m3_hr_value,jcla_c2_m3_hr_time,jcla_c2_m3_hr_value,jcla_c3_m3_hr_time,...,cond_c1_m3_hr_value,cond_c2_m3_hr_time,cond_c2_m3_hr_value,cond_c3_m3_hr_time,cond_c3_m3_hr_value,cond_c4_m3_hr_time,cond_c4_m3_hr_value,brix_mel_time,brix_mel_value,indicador_1
0,1,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,...,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,0.000000e+00,01/03/2025 5:48,NaN,NaN
1,2,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,...,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,0.000000e+00,01/03/2025 5:48,NaN,NaN
2,3,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,...,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,0.000000e+00,01/03/2025 5:48,NaN,NaN
3,4,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,...,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,0.000000e+00,01/03/2025 5:48,NaN,NaN
4,5,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,...,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,NaN,01/03/2025 5:48,0.000000e+00,01/03/2025 5:48,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1511988,1511989,19/3/2025 06:07,NaN,19/3/2025 02:07,NaN,19/3/2025 06:07,0.173606,19/3/2025 06:07,0.115738,19/3/2025 06:07,...,4.340000e+12,19/3/2025 06:07,6.510000e+12,19/3/2025 06:07,2.170000e+12,19/3/2025 06:07,-2.170000e+12,0,0.0,NaN
1511989,1511990,19/3/2025 06:07,NaN,19/3/2025 02:07,NaN,19/3/2025 06:07,0.173606,19/3/2025 06:07,0.115738,19/3/2025 06:07,...,4.340000e+12,19/3/2025 06:07,6.510000e+12,19/3/2025 06:07,2.170000e+12,19/3/2025 06:07,-2.170000e+12,0,0.0,NaN
1511990,1511991,19/3/2025 06:07,NaN,19/3/2025 02:07,NaN,19/3/2025 06:07,0.173606,19/3/2025 06:07,0.115738,19/3/2025 06:07,...,4.340000e+12,19/3/2025 06:07,6.510000e+12,19/3/2025 06:07,2.170000e+12,19/3/2025 06:07,-2.170000e+12,0,0.0,NaN
1511991,1511992,19/3/2025 06:07,NaN,19/3/2025 02:07,NaN,19/3/2025 06:07,0.173606,19/3/2025 06:07,0.115738,19/3/2025 06:07,...,4.340000e+12,19/3/2025 06:07,6.510000e+12,19/3/2025 06:07,2.170000e+12,19/3/2025 06:07,-2.170000e+12,0,0.0,NaN
1511992,1511993,19/3/2025 06:07,NaN,19/3/2025 02:07,NaN,19/3/2025 06:07,0.173606,19/3/2025 06:07,0.115738,19/3/2025 06:07,...,4.340000e+12,19/3/2025 06:07,6.510000e+12,19/3/2025 06:07,2.170000e+12,19/3/2025 06:07,-2.170000e+12,0,0.0,NaN

In [267]:
from functools import reduce

# Lista para guardar todos los DataFrames preparados
lista_dfs = []

# Identificar columnas de tiempo
columnas_time = [col for col in db_extract_df1.columns if col.endswith('_time')]

for col_time in columnas_time:
    col_valor = col_time.replace('_time', '_value')

    if col_valor not in db_extract_df1.columns:
        continue

    # Trabajar con sub-DataFrame
    df_temp = db_extract_df1[[col_time, col_valor]].dropna().copy()

    # Reemplazar valores no válidos con NaT antes de convertir
    df_temp[col_time] = pd.to_datetime(df_temp[col_time], errors='coerce')

    # Verificar si hay valores NaT antes de proceder
    if df_temp[col_time].isna().sum() > 0:
        print(f"Existen valores NaT en la columna {col_time}, serán ignorados.")

    # Crear intervalos
    inicio = df_temp[col_time].min().replace(hour=6, minute=30, second=0, microsecond=0)
    df_temp['fecha_hora'] = inicio + ((df_temp[col_time] - inicio) // pd.Timedelta(hours=2)) * pd.Timedelta(hours=2)

    # Filtrar outliers
    Q1 = df_temp[col_valor].quantile(0.25)
    Q3 = df_temp[col_valor].quantile(0.75)
    IQR = Q3 - Q1
    lim_inf = Q1 - 1.5 * IQR
    lim_sup = Q3 + 1.5 * IQR
    df_filtrado = df_temp[(df_temp[col_valor] >= lim_inf) & (df_temp[col_valor] <= lim_sup)]

    # Agrupar y renombrar
    df_agrupado = df_filtrado.groupby('fecha_hora', as_index=False)[col_valor].mean()
    lista_dfs.append(df_agrupado)

# Combinar todos los DataFrames por 'fecha_hora'
df_merged = reduce(lambda left, right: pd.merge(left, right, on='fecha_hora', how='outer'), lista_dfs)

# Ordenar por fecha
df_merged = df_merged.sort_values(by='fecha_hora')

# Mostrar
print(df_merged.head())

Existen valores NaT en la columna flujo_cond_klb_hr_time, serán ignorados.
Existen valores NaT en la columna flujo_cana_ton_time, serán ignorados.
Existen valores NaT en la columna jcla_c1_m3_hr_time, serán ignorados.
Existen valores NaT en la columna jcla_c2_m3_hr_time, serán ignorados.
Existen valores NaT en la columna jcla_c3_m3_hr_time, serán ignorados.
Existen valores NaT en la columna jcla_c4_m3_hr_time, serán ignorados.
Existen valores NaT en la columna cond_c1_m3_hr_time, serán ignorados.
Existen valores NaT en la columna cond_c2_m3_hr_time, serán ignorados.
Existen valores NaT en la columna cond_c3_m3_hr_time, serán ignorados.
Existen valores NaT en la columna cond_c4_m3_hr_time, serán ignorados.
Existen valores NaT en la columna brix_mel_time, serán ignorados.
           fecha_hora  flujo_cond_klb_hr_value  flujo_cana_ton_value  \
0 2025-01-03 04:30:00                      NaN                   NaN
1 2025-01-03 06:30:00                      NaN            455.833333
2 2025-01-03 08:30:00                    320.0                   NaN
3 2025-01-03 10:30:00                    320.0                   NaN
4 2025-01-03 12:30:00                    320.0            440.750000

   jcla_c1_m3_hr_value  jcla_c2_m3_hr_value  jcla_c3_m3_hr_value  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

   jcla_c4_m3_hr_value  cond_c1_m3_hr_value  cond_c2_m3_hr_value  \
0             0.148306                  NaN                  NaN
1             0.142984                  NaN                  NaN
2             0.136088                  NaN                  NaN
3             0.135526                  NaN                  NaN
4             0.130684                  NaN                  NaN

   cond_c3_m3_hr_value  cond_c4_m3_hr_value  brix_mel_value
0                  NaN        -7.687601e+10             NaN
1                  NaN        -9.945833e+10             NaN
2                  NaN        -9.343056e+10             NaN
3                  NaN        -7.052500e+10             NaN
4                  NaN        -5.573423e+10             NaN

In [268]:
df_merged

,fecha_hora,flujo_cond_klb_hr_value,flujo_cana_ton_value,jcla_c1_m3_hr_value,jcla_c2_m3_hr_value,jcla_c3_m3_hr_value,jcla_c4_m3_hr_value,cond_c1_m3_hr_value,cond_c2_m3_hr_value,cond_c3_m3_hr_value,cond_c4_m3_hr_value,brix_mel_value
0,2025-01-03 04:30:00,NaN,NaN,NaN,NaN,NaN,0.148306,NaN,NaN,NaN,-7.687601e+10,NaN
1,2025-01-03 06:30:00,NaN,455.833333,NaN,NaN,NaN,0.142984,NaN,NaN,NaN,-9.945833e+10,NaN
2,2025-01-03 08:30:00,320.0000,NaN,NaN,NaN,NaN,0.136088,NaN,NaN,NaN,-9.343056e+10,NaN
3,2025-01-03 10:30:00,320.0000,NaN,NaN,NaN,NaN,0.135526,NaN,NaN,NaN,-7.052500e+10,NaN
4,2025-01-03 12:30:00,320.0000,440.750000,NaN,NaN,NaN,0.130684,NaN,NaN,NaN,-5.573423e+10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
137,2025-12-03 14:30:00,320.0000,NaN,0.173606,0.115738,NaN,NaN,4.340000e+12,6.582956e+12,NaN,NaN,NaN
138,2025-12-03 16:30:00,320.0000,409.500000,0.173606,0.115738,NaN,NaN,4.340000e+12,6.510000e+12,NaN,NaN,NaN
139,2025-12-03 18:30:00,277.6875,NaN,0.173606,0.115738,NaN,NaN,4.340000e+12,6.510000e+12,NaN,NaN,NaN
140,2025-12-03 20:30:00,320.0000,435.875000,0.173606,0.115738,NaN,NaN,4.340000e+12,6.510000e+12,NaN,NaN,NaN
141,2025-12-03 22:30:00,NaN,414.975000,0.173606,0.115738,NaN,NaN,4.340000e+12,7.024096e+12,NaN,NaN,NaN

In [269]:
db_extract_df2.loc[:, "Indicador 2"] = (
    (db_extract_df2["brix_melaza"] - db_extract_df2["brix_jugo"]) / db_extract_df2["brix_melaza"]
) * 100
# Crear tabla nueva
indicador_2_df = db_extract_df2[["fecha_hora_compuesta", "Indicador 2"]].copy()
indicador_2_df.rename(columns={"fecha_hora_compuesta": "tiempo"}, inplace=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_22708\573990931.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db_extract_df2.loc[:, "Indicador 2"] = (

In [270]:
indicador_2_df

                 tiempo  Indicador 2
0   2025-03-01 06:30:00    80.101695
1   2025-03-01 08:30:00    80.155510
2   2025-03-01 10:30:00    80.006812
3   2025-03-01 12:30:00    80.807412
4   2025-03-01 14:30:00    80.498339
..                  ...          ...
210 2025-03-18 08:30:00    81.610276
211 2025-03-18 10:30:00    79.924761
212 2025-03-18 12:30:00    80.903457
213 2025-03-18 14:30:00    82.070861
214 2025-03-18 16:30:00    82.037944

[215 rows x 2 columns]

In [271]:
# Renombrar la columna 'tiempo' a 'fecha_hora' en indicador_2_df
indicador_2_df = indicador_2_df.rename(columns={"tiempo": "fecha_hora"})
indicador_1_df_agrupado = indicador_1_df_agrupado.rename(columns={"tiempo": "fecha_hora"})


# Convertir 'fecha_hora' en indicador_2_df a tipo datetime
indicador_2_df["fecha_hora"] = pd.to_datetime(indicador_2_df["fecha_hora"])

# Realizar el merge
df_merged = df_merged.merge(indicador_1_df_agrupado, on="fecha_hora", how="left")
df_merged = df_merged.merge(indicador_2_df, on="fecha_hora", how="left")

In [272]:
df_merged = df_merged.rename(columns={
    "Indicador 2": "Indicador_2",
    "Indicador 1": "Indicador_1"
})
print(df_merged.columns)

Index(['fecha_hora', 'flujo_cond_klb_hr_value', 'flujo_cana_ton_value',
       'jcla_c1_m3_hr_value', 'jcla_c2_m3_hr_value', 'jcla_c3_m3_hr_value',
       'jcla_c4_m3_hr_value', 'cond_c1_m3_hr_value', 'cond_c2_m3_hr_value',
       'cond_c3_m3_hr_value', 'cond_c4_m3_hr_value', 'brix_mel_value',
       'Indicador_1', 'Indicador_2'],
      dtype='object')

In [273]:
# --- 1. CREAR TABLA DE DIMENSIÓN TIEMPO SI NO EXISTE ---
with engine.connect() as conn:
    conn.execute(text("""
        CREATE TABLE IF NOT EXISTS dim_fecha (
            Id_Fecha DATETIME PRIMARY KEY,
            Ano INT,
            Mes INT,
            Dia INT,
            Hora TIME
        );
    """))

# --- 2. CREAR TABLA DE HECHOS CON NUEVA LLAVE PRIMARIA ---
with engine.begin() as conn:
    conn.execute(text("""
        CREATE TABLE IF NOT EXISTS hechos_indicadores (
            id_hecho INT AUTO_INCREMENT PRIMARY KEY,
            Id_Fecha DATETIME,
            flujo_cond_klb_hr_value FLOAT,
            flujo_cana_ton_value FLOAT,
            brix_mel_value FLOAT,
            Indicador_1 FLOAT,
            Indicador_2 FLOAT,
            FOREIGN KEY (Id_Fecha) REFERENCES dim_fecha(Id_Fecha)
        );
    """))
# --- 3. CREAR DIMENSIÓN TIEMPO DESDE LOS DATOS ---
dim_fecha_df = pd.DataFrame()
dim_fecha_df["Id_Fecha"] = df_merged["fecha_hora"]  # O "Id_Fecha", según tu DataFrame
dim_fecha_df["Ano"] = dim_fecha_df["Id_Fecha"].dt.year
dim_fecha_df["Mes"] = dim_fecha_df["Id_Fecha"].dt.month
dim_fecha_df["Dia"] = dim_fecha_df["Id_Fecha"].dt.day
dim_fecha_df["Hora"] = dim_fecha_df["Id_Fecha"].dt.time

dim_fecha_df = dim_fecha_df.drop_duplicates()

hechos_df = df_merged[[
    "fecha_hora",
    "flujo_cond_klb_hr_value",
    "flujo_cana_ton_value",
    "brix_mel_value",
    "Indicador_1",
    "Indicador_2"
]].rename(columns={"fecha_hora": "Id_Fecha"})

# --- 5. EVITAR DUPLICADOS EN INSERCIÓN ---
fechas_cargadas = pd.read_sql("SELECT Id_Fecha FROM dim_fecha", con=engine)
dim_fecha_nueva = dim_fecha_df[~dim_fecha_df["Id_Fecha"].isin(fechas_cargadas["Id_Fecha"])]
hechos_nuevos = hechos_df[~hechos_df["Id_Fecha"].isin(fechas_cargadas["Id_Fecha"])]

# --- 6. INSERTAR DATOS EN LA BASE ---
dim_fecha_nueva.to_sql("dim_fecha", con=engine, if_exists="append", index=False)
hechos_nuevos.to_sql("hechos_indicadores", con=engine, if_exists="append", index=False)

print("Dimensión tiempo y tabla de hechos cargadas exitosamente en MySQL.")

Dimensión tiempo y tabla de hechos cargadas exitosamente en MySQL.

In [274]:
hechos_nuevos = hechos_nuevos.rename(columns={
    "Indicador 1": "Flujo_Condensados",
    "Indicador 2": "Brix_Eficiencia"
})

In [275]:
indicador_1_df_agrupado = indicador_1_df_agrupado.rename(columns={"tiempo": "Id_Fecha", "Indicador 1": "Indicador_1"})
indicador_2_df = indicador_2_df.rename(columns={"tiempo": "Id_Fecha", "Indicador 2": "Indicador_2"})

In [276]:
dim_fecha_df = pd.DataFrame()
dim_fecha_df["Id_Fecha"] = hechos_df["Id_Fecha"]
dim_fecha_df["Ano"] = dim_fecha_df["Id_Fecha"].dt.year
dim_fecha_df["Mes"] = dim_fecha_df["Id_Fecha"].dt.month
dim_fecha_df["Dia"] = dim_fecha_df["Id_Fecha"].dt.day
dim_fecha_df["Hora"] = dim_fecha_df["Id_Fecha"].dt.time
dim_fecha_df = dim_fecha_df.drop_duplicates()

In [277]:
# Ver qué fechas ya existen
fechas_cargadas = pd.read_sql("SELECT Id_Fecha FROM dim_fecha", con=engine)

# Filtrar las nuevas
dim_fecha_nueva = dim_fecha_df[~dim_fecha_df["Id_Fecha"].isin(fechas_cargadas["Id_Fecha"])]
hechos_nuevos = hechos_df[~hechos_df["Id_Fecha"].isin(fechas_cargadas["Id_Fecha"])]

In [278]:
hechos_df.to_sql("hechos_indicadores", con=engine, if_exists="append", index=False)

142

In [279]:
from sqlalchemy.exc import IntegrityError

try:
    dim_fecha_nueva.to_sql("dim_fecha", con=engine, if_exists="append", index=False)
except IntegrityError as e:
    print("Saltando duplicados en dim_fecha:", e)

hechos_nuevos.to_sql("hechos_indicadores", con=engine, if_exists="append", index=False)

0

In [280]:
print("Total en hechos_df:", len(hechos_df))
print("Total ya cargadas:", len(fechas_cargadas))
print("Total nuevas a insertar:", len(hechos_nuevos))

Total en hechos_df: 142
Total ya cargadas: 142
Total nuevas a insertar: 0

In [281]:
# Eliminar datos antiguos
with engine.begin() as conn:
    conn.execute(text("DELETE FROM hechos_indicadores"))

# Insertar todos los datos nuevos
hechos_df.to_sql("hechos_indicadores", con=engine, if_exists="append", index=False)

142

In [282]:
df_merged.to_csv("df_merged.csv", index=False)
hechos_df.to_csv("hechos_df.csv", index=False)

In [283]:
print(hechos_df.head(10))
print(hechos_df.isnull().sum())

             Id_Fecha  flujo_cond_klb_hr_value  flujo_cana_ton_value  \
0 2025-01-03 04:30:00                      NaN                   NaN
1 2025-01-03 06:30:00                      NaN            455.833333
2 2025-01-03 08:30:00                    320.0                   NaN
3 2025-01-03 10:30:00                    320.0                   NaN
4 2025-01-03 12:30:00                    320.0            440.750000
5 2025-01-03 14:30:00                    320.0            448.187500
6 2025-01-03 16:30:00                    320.0                   NaN
7 2025-01-03 18:30:00                      NaN                   NaN
8 2025-01-03 20:30:00                    320.0            423.750000
9 2025-01-03 22:30:00                      NaN            459.312500

   brix_mel_value  Indicador_1  Indicador_2
0             NaN          NaN          NaN
1             NaN          NaN          NaN
2             NaN          NaN          NaN
3             NaN          NaN          NaN
4             NaN          NaN          NaN
5             NaN          NaN          NaN
6             NaN          NaN          NaN
7             NaN          NaN          NaN
8             NaN          NaN          NaN
9             NaN          NaN          NaN
Id_Fecha                     0
flujo_cond_klb_hr_value     91
flujo_cana_ton_value        69
brix_mel_value             142
Indicador_1                141
Indicador_2                132
dtype: int64