In [133]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import yaml
import urllib.parse
from sqlalchemy import create_engine, text
import mysql.connector
import os

In [134]:
csv_folder = "Data_Holder"
csv_folderlab = "data_sigind"

In [135]:
columnas = [
    "flujo_cond_klb_hr_time", "flujo_cond_klb_hr_value", "flujo_cana_ton_time", "flujo_cana_ton_value",
    "jcla_c1_m3_hr_time", "jcla_c1_m3_hr_value", "jcla_c2_m3_hr_time", "jcla_c2_m3_hr_value",
    "jcla_c3_m3_hr_time", "jcla_c3_m3_hr_value", "jcla_c4_m3_hr_time", "jcla_c4_m3_hr_value",
    "cond_c1_m3_hr_time", "cond_c1_m3_hr_value", "cond_c2_m3_hr_time", "cond_c2_m3_hr_value",
    "cond_c3_m3_hr_time", "cond_c3_m3_hr_value", "cond_c4_m3_hr_time", "cond_c4_m3_hr_value",
    "brix_mel_time", "brix_mel_value"
]

columnas2 = [
    "fecha_hora", "brix_jugo", "brix_melaza", "ph_alacalizado", "ph_clarificado", "ph_melada_sin_clarificador", "pza_jugo_clarificado", "pza_meladura_sin_clarificar"
]

In [136]:
def load_config(file_path="config.yaml"):
    with open(file_path, "r") as file:
        return yaml.safe_load(file)

In [137]:
config = load_config()
db_config = config["database"]

In [138]:
#Meter Credenciales
db_user = db_config["user"]
db_password = db_config["password"]
db_host = db_config["host"]
db_port = 3306 
db_name = db_config["name"]

In [139]:
print (db_name)

gestion

In [140]:
#Conectar a MySql
conn = mysql.connector.connect(
    host=db_host,
    user=db_user,
    password=db_password
)

In [141]:
#Crea un cursor para ejecutar consultas
cursor = conn.cursor()

In [142]:
#Crear la base de datos si no existe
cursor.execute(f"CREATE DATABASE IF NOT EXISTS {db_name}")

In [143]:
#Confirmar la creacion de la base de datos
print("Base de datos '{db_name}' creada o ya exist칤a.")

Base de datos '{db_name}' creada o ya exist칤a.

In [144]:
#Funci칩n para limpiar datos y subirlos a MySQL
def procesar_csv_y_subir(archivo_csv):
    print(f"Procesando: {archivo_csv}")
    
    try:
        # Leer el CSV
        df = pd.read_csv(archivo_csv, sep=";", engine="python")

        # 游댳 Renombrar columnas para mantener consistencia
        df.columns = columnas
        
        # 游댳 Insertar en MySQL
        with engine.connect() as conn:
            df.to_sql("gestion_table", con=engine, if_exists="append", index=False)

        print(f"{archivo_csv} cargado correctamente en MySQL.")

        #Borrar el archivo despu칠s de procesarlo
        os.remove(archivo_csv)
        print(f"Archivo eliminado: {archivo_csv}")

    except Exception as e:
        print(f"Error al procesar {archivo_csv}: {e}")

In [145]:
#Procesar y Subir  CSV de la Sigind
def procesar_csv_y_subir2(archivo_csv2):
    print(f"Procesando: {archivo_csv2}")
    
    try:
        # Leer el CSV
        # Leer desde la fila 8 (indexada como 7)
        df = pd.read_csv(archivo_csv2, sep=';', encoding='latin1')


        # 游댳 Renombrar columnas para mantener consistencia
        df.columns = columnas2
        
        # 游댳 Insertar en MySQL
        with engine.connect() as conn:
            df.to_sql("gestion_table_sigind", con=engine, if_exists="append", index=False)

        print(f"{archivo_csv2} sigind data cargada correctamente en MySQL.")

        #Borrar el archivo despu칠s de procesarlo
        os.remove(archivo_csv2)
        print(f"Archivo eliminado: {archivo_csv2}")

    except Exception as e:
        print(f"Error al procesar {archivo_csv2}: {e}")

In [146]:
#Conexion a la base de datos
try:
    conn = mysql.connector.connect(
        user=db_user, 
        password=db_password, 
        host=db_host, 
        database=db_name
    )
    cursor = conn.cursor()
    print(f"Conexi칩n exitosa a la base de datos '{db_name}'.")

    cursor.close()
    conn.close()

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Error de autenticaci칩n: Verifica tu usuario y contrase침a.")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print(f"La base de datos '{db_name}' no existe.")
    else:
        print(f"Error: {err}")

Conexi칩n exitosa a la base de datos 'gestion'.

In [147]:
#Configuracion a mi base de datos
db_config = {
    'host': db_host,  # Cambia seg칰n tu configuraci칩n
    'user': db_user,  # Coloca tu usuario de MySQL
    'password': db_password,  # Coloca tu contrase침a de MySQL
    'database': db_name  # Nombre de la base de datos
}

In [148]:
#Conectar a la base de datos
try:
    connection = mysql.connector.connect(**db_config)
    cursor = connection.cursor()

    # Consulta SQL para crear la tabla
    create_table_query = """
    CREATE TABLE IF NOT EXISTS gestion_table (
        id INT AUTO_INCREMENT PRIMARY KEY,
        flujo_cond_klb_hr_time VARCHAR(30),
        flujo_cond_klb_hr_value VARCHAR(30),
        flujo_cana_ton_time VARCHAR(30),
        flujo_cana_ton_value VARCHAR(30),
        jcla_c1_m3_hr_time VARCHAR(30),
        jcla_c1_m3_hr_value VARCHAR(30),
        jcla_c2_m3_hr_time VARCHAR(30),
        jcla_c2_m3_hr_value VARCHAR(30),
        jcla_c3_m3_hr_time VARCHAR(30),
        jcla_c3_m3_hr_value VARCHAR(30),
        jcla_c4_m3_hr_time VARCHAR(30),
        jcla_c4_m3_hr_value VARCHAR(30),
        cond_c1_m3_hr_time VARCHAR(30),
        cond_c1_m3_hr_value VARCHAR(30),
        cond_c2_m3_hr_time VARCHAR(30),
        cond_c2_m3_hr_value VARCHAR(30),
        cond_c3_m3_hr_time VARCHAR(30),
        cond_c3_m3_hr_value VARCHAR(30),
        cond_c4_m3_hr_time VARCHAR(30),
        cond_c4_m3_hr_value VARCHAR(30),
        brix_mel_time VARCHAR(30),
        brix_mel_value VARCHAR(30)
    );
    """

    # Ejecutar la consulta
    cursor.execute(create_table_query)
    print("Tabla creada exitosamente.")

except mysql.connector.Error as error:
    print(f"Error al conectar o crear la tabla: {error}")
finally:
    # Cierra la conexi칩n
    if connection.is_connected():
        cursor.close()
        connection.close()

Tabla creada exitosamente.

In [149]:
#Conectar a la base de datos
try:
    connection = mysql.connector.connect(**db_config)
    cursor = connection.cursor()

    # Consulta SQL para crear la tabla
    create_table_query = """
    CREATE TABLE IF NOT EXISTS gestion_table_sigind (
        id INT AUTO_INCREMENT PRIMARY KEY,
        fecha_hora VARCHAR(30), 
        brix_jugo VARCHAR(30), 
        brix_melaza VARCHAR(30), 
        ph_alacalizado VARCHAR(30), 
        ph_clarificado VARCHAR(30), 
        ph_melada_sin_clarificador VARCHAR(30), 
        pza_jugo_clarificado VARCHAR(30), 
        pza_meladura_sin_clarificar VARCHAR(30)
        
    );
    """

    # Ejecutar la consulta
    cursor.execute(create_table_query)
    print("Tabla creada exitosamente.")

except mysql.connector.Error as error:
    print(f"Error al conectar o crear la tabla: {error}")
finally:
    # Cierra la conexi칩n
    if connection.is_connected():
        cursor.close()
        connection.close()

Tabla creada exitosamente.

In [150]:
#Codificar la contrase침a 
encoded_password = urllib.parse.quote_plus(db_password)

connection_url = f"mysql+mysqlconnector://{db_user}:{encoded_password}@{db_host}/{db_name}"
print(connection_url)

#Crear modelo de conexion con SQLAlchemy
engine = create_engine(connection_url)

mysql+mysqlconnector://root:root@localhost/gestion

In [151]:
#Recorrer todos los archivos CSV en la carpeta y procesarlos
for archivo in os.listdir(csv_folder):
    if archivo.endswith(".csv"):
        procesar_csv_y_subir(os.path.join(csv_folder, archivo))

print("Todos los archivos CSV han sido procesados y eliminados.")

Procesando: Data_Holder\data07032025 T1(in).csv
Data_Holder\data07032025 T1(in).csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data07032025 T1(in).csv
Procesando: Data_Holder\data07032025 T2(in).csv
Data_Holder\data07032025 T2(in).csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data07032025 T2(in).csv
Procesando: Data_Holder\data07032025 T3(in).csv
Data_Holder\data07032025 T3(in).csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data07032025 T3(in).csv
Procesando: Data_Holder\data08032025 T1(in).csv
Data_Holder\data08032025 T1(in).csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data08032025 T1(in).csv
Procesando: Data_Holder\data08032025 T2(in).csv
Data_Holder\data08032025 T2(in).csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data08032025 T2(in).csv
Procesando: Data_Holder\data08032025 T3(in).csv
Data_Holder\data08032025 T3(in).csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data08032025 T3(in).csv
Procesando: Data_Holder\data09032025 T1(in).csv
Data_Holder\data09032025 T1(in).csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data09032025 T1(in).csv
Procesando: Data_Holder\data09032025 T2(in).csv
Data_Holder\data09032025 T2(in).csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data09032025 T2(in).csv
Procesando: Data_Holder\data09032025 T3(in).csv
Error al procesar Data_Holder\data09032025 T3(in).csv: 'utf-8' codec can't decode byte 0xf1 in position 8: invalid continuation byte
Procesando: Data_Holder\data10032025 T1(in).csv
Data_Holder\data10032025 T1(in).csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data10032025 T1(in).csv
Procesando: Data_Holder\data10032025 T2(in).csv
Data_Holder\data10032025 T2(in).csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data10032025 T2(in).csv
Procesando: Data_Holder\data10032025 T3(in).csv
Data_Holder\data10032025 T3(in).csv cargado correctamente en MySQL.
Archivo eliminado: Data_Holder\data10032025 T3(in).csv
Todos los archivos CSV han sido procesados y eliminados.

In [152]:
#Recorrer todos los archivos CSV sigind en la carpeta y procesarlos
for archivo2 in os.listdir(csv_folderlab):
    if archivo2.endswith(".csv"):
        procesar_csv_y_subir2(os.path.join(csv_folderlab, archivo2))

print("Todos los archivos CSV sigind han sido procesados y eliminados.")

Procesando: data_sigind\Sigind marzo 10(Hoja2).csv
data_sigind\Sigind marzo 10(Hoja2).csv sigind data cargada correctamente en MySQL.
Archivo eliminado: data_sigind\Sigind marzo 10(Hoja2).csv
Todos los archivos CSV sigind han sido procesados y eliminados.

# Transformacion

In [153]:
with engine.connect() as conn:
    db_extract_df1 = pd.read_sql("SELECT * FROM gestion_table", conn)

db_extract_df1.head(5)

,id,flujo_cond_klb_hr_time,flujo_cond_klb_hr_value,flujo_cana_ton_time,flujo_cana_ton_value,jcla_c1_m3_hr_time,jcla_c1_m3_hr_value,jcla_c2_m3_hr_time,jcla_c2_m3_hr_value,jcla_c3_m3_hr_time,...,cond_c1_m3_hr_time,cond_c1_m3_hr_value,cond_c2_m3_hr_time,cond_c2_m3_hr_value,cond_c3_m3_hr_time,cond_c3_m3_hr_value,cond_c4_m3_hr_time,cond_c4_m3_hr_value,brix_mel_time,brix_mel_value
0,1,03/07/2025 5:55,"315,7195129",03/07/2025 5:55,"443,7201843",03/07/2025 5:55,"239,7504425",03/07/2025 5:55,"234,9473267",03/07/2025 5:55,...,03/07/2025 5:55,"77,64546204",03/07/2025 5:55,"86,3908844",03/07/2025 5:55,"2,17E-02",03/07/2025 5:55,"8,984130859",03/07/2025 5:55,"63,73738098"
1,2,03/07/2025 5:55,"316,4519043",03/07/2025 5:55,"446,7375488",03/07/2025 5:55,"240,2133942",03/07/2025 5:55,"234,6001129",03/07/2025 5:55,...,03/07/2025 5:55,"78,40499115",03/07/2025 5:55,"79,68533325",03/07/2025 5:55,"2,17E-02",03/07/2025 5:55,"8,875626564",03/07/2025 5:55,"63,64052963"
2,3,03/07/2025 5:55,"318,2991943",03/07/2025 5:55,"433,6177368",03/07/2025 5:55,"240,0976563",03/07/2025 5:55,"234,4265137",03/07/2025 5:55,...,03/07/2025 5:55,"79,92404175",03/07/2025 5:55,"82,07242584",03/07/2025 5:55,"2,17E-02",03/07/2025 5:55,"8,745422363",03/07/2025 5:55,"63,57015228"
3,4,03/07/2025 5:55,"320,1952972",03/07/2025 5:55,"434,4269714",03/07/2025 5:55,"240,1555176",03/07/2025 5:55,"234,1950378",03/07/2025 5:55,...,03/07/2025 5:55,"79,18621826",03/07/2025 5:55,"84,06889343",03/07/2025 5:55,"2,17E-02",03/07/2025 5:55,"8,398209572",03/07/2025 5:55,"63,54139709"
4,5,03/07/2025 5:55,"322,0832672",03/07/2025 5:55,"448,7200928",03/07/2025 5:55,"239,7504425",03/07/2025 5:55,"234,7158508",03/07/2025 5:55,...,03/07/2025 5:55,"75,99620056",03/07/2025 5:55,"86,04367065",03/07/2025 5:55,"2,17E-02",03/07/2025 5:55,"8,094398499",03/07/2025 5:55,"63,50404358"

In [154]:
with engine.connect() as conn:
    db_extract_df2 = pd.read_sql("SELECT * FROM gestion_table_sigind", conn)

db_extract_df2.head(5)

,id,fecha_hora,brix_jugo,brix_melaza,ph_alacalizado,ph_clarificado,ph_melada_sin_clarificador,pza_jugo_clarificado,pza_meladura_sin_clarificar
0,1,01/03/s치bado 06:30,None,"59,000","7,89","7,32","6,42",None,None
1,2,01/03/s치bado 08:30,None,"59,160","7,58",None,"6,34",None,"84,843"
2,3,01/03/s치bado 10:30,None,"58,720","7,46","6,88","6,20",None,None
3,4,01/03/s치bado 12:30,"11,600","60,440","7,47","6,88","6,17","85,293","85,903"
4,5,01/03/s치bado 14:30,None,"60,200","7,43","6,80","6,15",None,None

In [155]:
db_extract_df1.isna().sum()

id                              0
flujo_cond_klb_hr_time     158396
flujo_cond_klb_hr_value    158396
flujo_cana_ton_time             0
flujo_cana_ton_value            0
jcla_c1_m3_hr_time         158396
jcla_c1_m3_hr_value        158396
jcla_c2_m3_hr_time         158396
jcla_c2_m3_hr_value        158396
jcla_c3_m3_hr_time         158396
jcla_c3_m3_hr_value        158396
jcla_c4_m3_hr_time         158396
jcla_c4_m3_hr_value        158396
cond_c1_m3_hr_time         158396
cond_c1_m3_hr_value        158396
cond_c2_m3_hr_time         158396
cond_c2_m3_hr_value        158396
cond_c3_m3_hr_time         158396
cond_c3_m3_hr_value        158396
cond_c4_m3_hr_time         158396
cond_c4_m3_hr_value        158396
brix_mel_time              253434
brix_mel_value             253434
dtype: int64

In [156]:
db_extract_df1 = db_extract_df1[db_extract_df1.iloc[:, 1].notna()]
db_extract_df1["brix_mel_time"] = db_extract_df1["brix_mel_time"].fillna(0)
db_extract_df1["brix_mel_value"] = db_extract_df1["brix_mel_value"].fillna(0)

In [157]:
db_extract_df1.isna().sum()

id                         0
flujo_cond_klb_hr_time     0
flujo_cond_klb_hr_value    0
flujo_cana_ton_time        0
flujo_cana_ton_value       0
jcla_c1_m3_hr_time         0
jcla_c1_m3_hr_value        0
jcla_c2_m3_hr_time         0
jcla_c2_m3_hr_value        0
jcla_c3_m3_hr_time         0
jcla_c3_m3_hr_value        0
jcla_c4_m3_hr_time         0
jcla_c4_m3_hr_value        0
cond_c1_m3_hr_time         0
cond_c1_m3_hr_value        0
cond_c2_m3_hr_time         0
cond_c2_m3_hr_value        0
cond_c3_m3_hr_time         0
cond_c3_m3_hr_value        0
cond_c4_m3_hr_time         0
cond_c4_m3_hr_value        0
brix_mel_time              0
brix_mel_value             0
dtype: int64

In [158]:
db_extract_df1

,id,flujo_cond_klb_hr_time,flujo_cond_klb_hr_value,flujo_cana_ton_time,flujo_cana_ton_value,jcla_c1_m3_hr_time,jcla_c1_m3_hr_value,jcla_c2_m3_hr_time,jcla_c2_m3_hr_value,jcla_c3_m3_hr_time,...,cond_c1_m3_hr_time,cond_c1_m3_hr_value,cond_c2_m3_hr_time,cond_c2_m3_hr_value,cond_c3_m3_hr_time,cond_c3_m3_hr_value,cond_c4_m3_hr_time,cond_c4_m3_hr_value,brix_mel_time,brix_mel_value
0,1,03/07/2025 5:55,"315,7195129",03/07/2025 5:55,"443,7201843",03/07/2025 5:55,"239,7504425",03/07/2025 5:55,"234,9473267",03/07/2025 5:55,...,03/07/2025 5:55,"77,64546204",03/07/2025 5:55,"86,3908844",03/07/2025 5:55,"2,17E-02",03/07/2025 5:55,"8,984130859",03/07/2025 5:55,"63,73738098"
1,2,03/07/2025 5:55,"316,4519043",03/07/2025 5:55,"446,7375488",03/07/2025 5:55,"240,2133942",03/07/2025 5:55,"234,6001129",03/07/2025 5:55,...,03/07/2025 5:55,"78,40499115",03/07/2025 5:55,"79,68533325",03/07/2025 5:55,"2,17E-02",03/07/2025 5:55,"8,875626564",03/07/2025 5:55,"63,64052963"
2,3,03/07/2025 5:55,"318,2991943",03/07/2025 5:55,"433,6177368",03/07/2025 5:55,"240,0976563",03/07/2025 5:55,"234,4265137",03/07/2025 5:55,...,03/07/2025 5:55,"79,92404175",03/07/2025 5:55,"82,07242584",03/07/2025 5:55,"2,17E-02",03/07/2025 5:55,"8,745422363",03/07/2025 5:55,"63,57015228"
3,4,03/07/2025 5:55,"320,1952972",03/07/2025 5:55,"434,4269714",03/07/2025 5:55,"240,1555176",03/07/2025 5:55,"234,1950378",03/07/2025 5:55,...,03/07/2025 5:55,"79,18621826",03/07/2025 5:55,"84,06889343",03/07/2025 5:55,"2,17E-02",03/07/2025 5:55,"8,398209572",03/07/2025 5:55,"63,54139709"
4,5,03/07/2025 5:55,"322,0832672",03/07/2025 5:55,"448,7200928",03/07/2025 5:55,"239,7504425",03/07/2025 5:55,"234,7158508",03/07/2025 5:55,...,03/07/2025 5:55,"75,99620056",03/07/2025 5:55,"86,04367065",03/07/2025 5:55,"2,17E-02",03/07/2025 5:55,"8,094398499",03/07/2025 5:55,"63,50404358"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302388,302389,03/11/2025 5:58,"370,8612366",03/11/2025 1:58,"481,9978943",03/11/2025 5:58,"0,231475204",03/11/2025 5:58,"163,3636322",03/11/2025 5:58,...,03/11/2025 5:58,"4,34E-02",03/11/2025 5:58,"65,84022522",03/11/2025 5:58,"77,62375641",03/11/2025 5:58,"88,19204712",0,0
302389,302390,03/11/2025 5:58,"370,8612366",03/11/2025 1:58,"485,8065186",03/11/2025 5:58,"0,231475204",03/11/2025 5:58,"160,1229706",03/11/2025 5:58,...,03/11/2025 5:58,"4,34E-02",03/11/2025 5:58,"64,40797424",03/11/2025 5:58,"77,81906891",03/11/2025 5:58,"86,4125824",0,0
302390,302391,03/11/2025 5:58,"372,0168152",03/11/2025 1:58,"488,1807861",03/11/2025 5:58,"0,231475204",03/11/2025 5:58,"158,0975647",03/11/2025 5:58,...,03/11/2025 5:58,"4,34E-02",03/11/2025 5:58,"65,08069611",03/11/2025 5:58,"77,53695679",03/11/2025 5:58,"86,3908844",0,0
302391,302392,03/11/2025 5:58,"368,1920471",03/11/2025 1:58,"484,6136475",03/11/2025 5:58,"0,231475204",03/11/2025 5:58,"157,1138",03/11/2025 5:58,...,03/11/2025 5:58,"4,34E-02",03/11/2025 5:58,"66,20913696",03/11/2025 5:58,"78,10118103",03/11/2025 5:58,"83,11405945",0,0
302392,302393,03/11/2025 5:59,"367,2724609",03/11/2025 1:59,"481,2412109",03/11/2025 5:59,"0,173606396",03/11/2025 5:59,"156,0142822",03/11/2025 5:59,...,03/11/2025 5:59,"4,34E-02",03/11/2025 5:59,"65,62321472",03/11/2025 5:59,"77,8624649",03/11/2025 5:59,"79,72873688",0,0

In [159]:
# Convertir todos los None en NaN reales
db_extract_df2 = db_extract_df2.replace(to_replace=[None], value=np.nan)

# Ahora s칤, imputar la mediana correctamente
db_extract_df2 = db_extract_df2.fillna(db_extract_df2.median(numeric_only=True))

In [160]:
#Detectar columnas num칠ricas excepto 'id' y 'fecha_hora'
columnas_numericas = db_extract_df2.columns.difference(["id", "fecha_hora"])

#Reemplazar comas por puntos y convertir a num칠rico
for col in columnas_numericas:
    db_extract_df2[col] = db_extract_df2[col].astype(str).str.replace(",", ".")
    db_extract_df2[col] = pd.to_numeric(db_extract_df2[col], errors="coerce")

#imputar la mediana en columnas num칠ricas
db_extract_df2 = db_extract_df2.fillna(db_extract_df2.median(numeric_only=True))

In [161]:
# Asegurar que la columna sea string
db_extract_df2["fecha_hora_str"] = db_extract_df2["fecha_hora"].astype(str)

# Extraer los 6 primeros y los 5 칰ltimos caracteres
db_extract_df2["fecha_inicio"] = db_extract_df2["fecha_hora_str"].str[:6]
db_extract_df2["hora_fin"] = db_extract_df2["fecha_hora_str"].str[-5:]

In [162]:
db_extract_df2

,id,fecha_hora,brix_jugo,brix_melaza,ph_alacalizado,ph_clarificado,ph_melada_sin_clarificador,pza_jugo_clarificado,pza_meladura_sin_clarificar,fecha_hora_str,fecha_inicio,hora_fin
0,1,01/03/s치bado 06:30,11.75,59.00,7.89,7.32,6.42,84.920,86.449,01/03/s치bado 06:30,01/03/,06:30
1,2,01/03/s치bado 08:30,11.75,59.16,7.58,7.22,6.34,84.920,84.843,01/03/s치bado 08:30,01/03/,08:30
2,3,01/03/s치bado 10:30,11.75,58.72,7.46,6.88,6.20,84.920,86.449,01/03/s치bado 10:30,01/03/,10:30
3,4,01/03/s치bado 12:30,11.60,60.44,7.47,6.88,6.17,85.293,85.903,01/03/s치bado 12:30,01/03/,12:30
4,5,01/03/s치bado 14:30,11.75,60.20,7.43,6.80,6.15,84.920,86.449,01/03/s치bado 14:30,01/03/,14:30
...,...,...,...,...,...,...,...,...,...,...,...,...
122,123,11/03/martes 20:30,11.75,59.32,7.63,7.22,6.49,85.123,86.074,11/03/martes 20:30,11/03/,20:30
123,124,11/03/martes 22:30,11.75,63.60,7.24,6.94,6.50,84.920,86.449,11/03/martes 22:30,11/03/,22:30
124,125,11/03/martes 00:30,11.75,63.24,7.50,7.22,6.36,84.920,86.885,11/03/martes 00:30,11/03/,00:30
125,126,11/03/martes 02:30,11.75,60.72,7.58,6.92,6.28,84.920,86.449,11/03/martes 02:30,11/03/,02:30
126,127,11/03/martes 04:30,10.93,60.80,7.46,7.22,6.26,86.093,86.701,11/03/martes 04:30,11/03/,04:30

In [163]:
db_extract_df2["fecha_hora_compuesta"] = db_extract_df2["fecha_inicio"] + "2025 " + db_extract_df2["hora_fin"]

In [164]:
db_extract_df2

,id,fecha_hora,brix_jugo,brix_melaza,ph_alacalizado,ph_clarificado,ph_melada_sin_clarificador,pza_jugo_clarificado,pza_meladura_sin_clarificar,fecha_hora_str,fecha_inicio,hora_fin,fecha_hora_compuesta
0,1,01/03/s치bado 06:30,11.75,59.00,7.89,7.32,6.42,84.920,86.449,01/03/s치bado 06:30,01/03/,06:30,01/03/2025 06:30
1,2,01/03/s치bado 08:30,11.75,59.16,7.58,7.22,6.34,84.920,84.843,01/03/s치bado 08:30,01/03/,08:30,01/03/2025 08:30
2,3,01/03/s치bado 10:30,11.75,58.72,7.46,6.88,6.20,84.920,86.449,01/03/s치bado 10:30,01/03/,10:30,01/03/2025 10:30
3,4,01/03/s치bado 12:30,11.60,60.44,7.47,6.88,6.17,85.293,85.903,01/03/s치bado 12:30,01/03/,12:30,01/03/2025 12:30
4,5,01/03/s치bado 14:30,11.75,60.20,7.43,6.80,6.15,84.920,86.449,01/03/s치bado 14:30,01/03/,14:30,01/03/2025 14:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,123,11/03/martes 20:30,11.75,59.32,7.63,7.22,6.49,85.123,86.074,11/03/martes 20:30,11/03/,20:30,11/03/2025 20:30
123,124,11/03/martes 22:30,11.75,63.60,7.24,6.94,6.50,84.920,86.449,11/03/martes 22:30,11/03/,22:30,11/03/2025 22:30
124,125,11/03/martes 00:30,11.75,63.24,7.50,7.22,6.36,84.920,86.885,11/03/martes 00:30,11/03/,00:30,11/03/2025 00:30
125,126,11/03/martes 02:30,11.75,60.72,7.58,6.92,6.28,84.920,86.449,11/03/martes 02:30,11/03/,02:30,11/03/2025 02:30
126,127,11/03/martes 04:30,10.93,60.80,7.46,7.22,6.26,86.093,86.701,11/03/martes 04:30,11/03/,04:30,11/03/2025 04:30

In [165]:
db_extract_df2["fecha_hora_compuesta"] = pd.to_datetime(
    db_extract_df2["fecha_hora_compuesta"], format="%d/%m/%Y %H:%M", errors="coerce"
)

In [166]:
db_extract_df2

,id,fecha_hora,brix_jugo,brix_melaza,ph_alacalizado,ph_clarificado,ph_melada_sin_clarificador,pza_jugo_clarificado,pza_meladura_sin_clarificar,fecha_hora_str,fecha_inicio,hora_fin,fecha_hora_compuesta
0,1,01/03/s치bado 06:30,11.75,59.00,7.89,7.32,6.42,84.920,86.449,01/03/s치bado 06:30,01/03/,06:30,2025-03-01 06:30:00
1,2,01/03/s치bado 08:30,11.75,59.16,7.58,7.22,6.34,84.920,84.843,01/03/s치bado 08:30,01/03/,08:30,2025-03-01 08:30:00
2,3,01/03/s치bado 10:30,11.75,58.72,7.46,6.88,6.20,84.920,86.449,01/03/s치bado 10:30,01/03/,10:30,2025-03-01 10:30:00
3,4,01/03/s치bado 12:30,11.60,60.44,7.47,6.88,6.17,85.293,85.903,01/03/s치bado 12:30,01/03/,12:30,2025-03-01 12:30:00
4,5,01/03/s치bado 14:30,11.75,60.20,7.43,6.80,6.15,84.920,86.449,01/03/s치bado 14:30,01/03/,14:30,2025-03-01 14:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,123,11/03/martes 20:30,11.75,59.32,7.63,7.22,6.49,85.123,86.074,11/03/martes 20:30,11/03/,20:30,2025-03-11 20:30:00
123,124,11/03/martes 22:30,11.75,63.60,7.24,6.94,6.50,84.920,86.449,11/03/martes 22:30,11/03/,22:30,2025-03-11 22:30:00
124,125,11/03/martes 00:30,11.75,63.24,7.50,7.22,6.36,84.920,86.885,11/03/martes 00:30,11/03/,00:30,2025-03-11 00:30:00
125,126,11/03/martes 02:30,11.75,60.72,7.58,6.92,6.28,84.920,86.449,11/03/martes 02:30,11/03/,02:30,2025-03-11 02:30:00
126,127,11/03/martes 04:30,10.93,60.80,7.46,7.22,6.26,86.093,86.701,11/03/martes 04:30,11/03/,04:30,2025-03-11 04:30:00

In [167]:
db_extract_df2.drop(columns=["fecha_hora", "fecha_hora_str", "fecha_inicio", "hora_fin"], inplace=True)
# Reordenar columnas: poner fecha_hora_compuesta en segundo lugar
cols = db_extract_df2.columns.tolist()
# Sacar la columna si ya est치 en la lista (por si est치 en otro lugar)
cols.remove("fecha_hora_compuesta")
# Insertarla en la segunda posici칩n
cols.insert(1, "fecha_hora_compuesta")
# Reordenar el DataFrame
db_extract_df2 = db_extract_df2[cols]

In [168]:
db_extract_df2

,id,fecha_hora_compuesta,brix_jugo,brix_melaza,ph_alacalizado,ph_clarificado,ph_melada_sin_clarificador,pza_jugo_clarificado,pza_meladura_sin_clarificar
0,1,2025-03-01 06:30:00,11.75,59.00,7.89,7.32,6.42,84.920,86.449
1,2,2025-03-01 08:30:00,11.75,59.16,7.58,7.22,6.34,84.920,84.843
2,3,2025-03-01 10:30:00,11.75,58.72,7.46,6.88,6.20,84.920,86.449
3,4,2025-03-01 12:30:00,11.60,60.44,7.47,6.88,6.17,85.293,85.903
4,5,2025-03-01 14:30:00,11.75,60.20,7.43,6.80,6.15,84.920,86.449
...,...,...,...,...,...,...,...,...,...
122,123,2025-03-11 20:30:00,11.75,59.32,7.63,7.22,6.49,85.123,86.074
123,124,2025-03-11 22:30:00,11.75,63.60,7.24,6.94,6.50,84.920,86.449
124,125,2025-03-11 00:30:00,11.75,63.24,7.50,7.22,6.36,84.920,86.885
125,126,2025-03-11 02:30:00,11.75,60.72,7.58,6.92,6.28,84.920,86.449
126,127,2025-03-11 04:30:00,10.93,60.80,7.46,7.22,6.26,86.093,86.701

In [169]:
columnas_fecha = [
    "flujo_cond_klb_hr_time",
    "flujo_cana_ton_time",
    "jcla_c1_m3_hr_time",
    "jcla_c2_m3_hr_time",
    "jcla_c3_m3_hr_time",
    "jcla_c4_m3_hr_time",
    "cond_c1_m3_hr_time",
    "cond_c2_m3_hr_time",
    "cond_c3_m3_hr_time",
    "cond_c4_m3_hr_time",
    "brix_mel_time"
]

In [170]:
db_extract_df1.head(5)

,id,flujo_cond_klb_hr_time,flujo_cond_klb_hr_value,flujo_cana_ton_time,flujo_cana_ton_value,jcla_c1_m3_hr_time,jcla_c1_m3_hr_value,jcla_c2_m3_hr_time,jcla_c2_m3_hr_value,jcla_c3_m3_hr_time,...,cond_c1_m3_hr_time,cond_c1_m3_hr_value,cond_c2_m3_hr_time,cond_c2_m3_hr_value,cond_c3_m3_hr_time,cond_c3_m3_hr_value,cond_c4_m3_hr_time,cond_c4_m3_hr_value,brix_mel_time,brix_mel_value
0,1,03/07/2025 5:55,"315,7195129",03/07/2025 5:55,"443,7201843",03/07/2025 5:55,"239,7504425",03/07/2025 5:55,"234,9473267",03/07/2025 5:55,...,03/07/2025 5:55,"77,64546204",03/07/2025 5:55,"86,3908844",03/07/2025 5:55,"2,17E-02",03/07/2025 5:55,"8,984130859",03/07/2025 5:55,"63,73738098"
1,2,03/07/2025 5:55,"316,4519043",03/07/2025 5:55,"446,7375488",03/07/2025 5:55,"240,2133942",03/07/2025 5:55,"234,6001129",03/07/2025 5:55,...,03/07/2025 5:55,"78,40499115",03/07/2025 5:55,"79,68533325",03/07/2025 5:55,"2,17E-02",03/07/2025 5:55,"8,875626564",03/07/2025 5:55,"63,64052963"
2,3,03/07/2025 5:55,"318,2991943",03/07/2025 5:55,"433,6177368",03/07/2025 5:55,"240,0976563",03/07/2025 5:55,"234,4265137",03/07/2025 5:55,...,03/07/2025 5:55,"79,92404175",03/07/2025 5:55,"82,07242584",03/07/2025 5:55,"2,17E-02",03/07/2025 5:55,"8,745422363",03/07/2025 5:55,"63,57015228"
3,4,03/07/2025 5:55,"320,1952972",03/07/2025 5:55,"434,4269714",03/07/2025 5:55,"240,1555176",03/07/2025 5:55,"234,1950378",03/07/2025 5:55,...,03/07/2025 5:55,"79,18621826",03/07/2025 5:55,"84,06889343",03/07/2025 5:55,"2,17E-02",03/07/2025 5:55,"8,398209572",03/07/2025 5:55,"63,54139709"
4,5,03/07/2025 5:55,"322,0832672",03/07/2025 5:55,"448,7200928",03/07/2025 5:55,"239,7504425",03/07/2025 5:55,"234,7158508",03/07/2025 5:55,...,03/07/2025 5:55,"75,99620056",03/07/2025 5:55,"86,04367065",03/07/2025 5:55,"2,17E-02",03/07/2025 5:55,"8,094398499",03/07/2025 5:55,"63,50404358"

In [171]:
columnas_numericas1 = db_extract_df1.columns.difference(["id","flujo_cond_klb_hr_time",
    "flujo_cana_ton_time",
    "jcla_c1_m3_hr_time",
    "jcla_c2_m3_hr_time",
    "jcla_c3_m3_hr_time",
    "jcla_c4_m3_hr_time",
    "cond_c1_m3_hr_time",
    "cond_c2_m3_hr_time",
    "cond_c3_m3_hr_time",
    "cond_c4_m3_hr_time",
    "brix_mel_time"])

#Reemplazar comas por puntos y a numerico
for col in columnas_numericas1:
    db_extract_df1[col] = db_extract_df1[col].astype(str).str.replace(",", ".")
    db_extract_df1[col] = pd.to_numeric(db_extract_df1[col], errors="coerce")

In [172]:
db_extract_df1

,id,flujo_cond_klb_hr_time,flujo_cond_klb_hr_value,flujo_cana_ton_time,flujo_cana_ton_value,jcla_c1_m3_hr_time,jcla_c1_m3_hr_value,jcla_c2_m3_hr_time,jcla_c2_m3_hr_value,jcla_c3_m3_hr_time,...,cond_c1_m3_hr_time,cond_c1_m3_hr_value,cond_c2_m3_hr_time,cond_c2_m3_hr_value,cond_c3_m3_hr_time,cond_c3_m3_hr_value,cond_c4_m3_hr_time,cond_c4_m3_hr_value,brix_mel_time,brix_mel_value
0,1,03/07/2025 5:55,315.719513,03/07/2025 5:55,443.720184,03/07/2025 5:55,239.750442,03/07/2025 5:55,234.947327,03/07/2025 5:55,...,03/07/2025 5:55,77.645462,03/07/2025 5:55,86.390884,03/07/2025 5:55,0.021700,03/07/2025 5:55,8.984131,03/07/2025 5:55,63.737381
1,2,03/07/2025 5:55,316.451904,03/07/2025 5:55,446.737549,03/07/2025 5:55,240.213394,03/07/2025 5:55,234.600113,03/07/2025 5:55,...,03/07/2025 5:55,78.404991,03/07/2025 5:55,79.685333,03/07/2025 5:55,0.021700,03/07/2025 5:55,8.875627,03/07/2025 5:55,63.640530
2,3,03/07/2025 5:55,318.299194,03/07/2025 5:55,433.617737,03/07/2025 5:55,240.097656,03/07/2025 5:55,234.426514,03/07/2025 5:55,...,03/07/2025 5:55,79.924042,03/07/2025 5:55,82.072426,03/07/2025 5:55,0.021700,03/07/2025 5:55,8.745422,03/07/2025 5:55,63.570152
3,4,03/07/2025 5:55,320.195297,03/07/2025 5:55,434.426971,03/07/2025 5:55,240.155518,03/07/2025 5:55,234.195038,03/07/2025 5:55,...,03/07/2025 5:55,79.186218,03/07/2025 5:55,84.068893,03/07/2025 5:55,0.021700,03/07/2025 5:55,8.398210,03/07/2025 5:55,63.541397
4,5,03/07/2025 5:55,322.083267,03/07/2025 5:55,448.720093,03/07/2025 5:55,239.750442,03/07/2025 5:55,234.715851,03/07/2025 5:55,...,03/07/2025 5:55,75.996201,03/07/2025 5:55,86.043671,03/07/2025 5:55,0.021700,03/07/2025 5:55,8.094398,03/07/2025 5:55,63.504044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302388,302389,03/11/2025 5:58,370.861237,03/11/2025 1:58,481.997894,03/11/2025 5:58,0.231475,03/11/2025 5:58,163.363632,03/11/2025 5:58,...,03/11/2025 5:58,0.043400,03/11/2025 5:58,65.840225,03/11/2025 5:58,77.623756,03/11/2025 5:58,88.192047,0,0.000000
302389,302390,03/11/2025 5:58,370.861237,03/11/2025 1:58,485.806519,03/11/2025 5:58,0.231475,03/11/2025 5:58,160.122971,03/11/2025 5:58,...,03/11/2025 5:58,0.043400,03/11/2025 5:58,64.407974,03/11/2025 5:58,77.819069,03/11/2025 5:58,86.412582,0,0.000000
302390,302391,03/11/2025 5:58,372.016815,03/11/2025 1:58,488.180786,03/11/2025 5:58,0.231475,03/11/2025 5:58,158.097565,03/11/2025 5:58,...,03/11/2025 5:58,0.043400,03/11/2025 5:58,65.080696,03/11/2025 5:58,77.536957,03/11/2025 5:58,86.390884,0,0.000000
302391,302392,03/11/2025 5:58,368.192047,03/11/2025 1:58,484.613648,03/11/2025 5:58,0.231475,03/11/2025 5:58,157.113800,03/11/2025 5:58,...,03/11/2025 5:58,0.043400,03/11/2025 5:58,66.209137,03/11/2025 5:58,78.101181,03/11/2025 5:58,83.114059,0,0.000000
302392,302393,03/11/2025 5:59,367.272461,03/11/2025 1:59,481.241211,03/11/2025 5:59,0.173606,03/11/2025 5:59,156.014282,03/11/2025 5:59,...,03/11/2025 5:59,0.043400,03/11/2025 5:59,65.623215,03/11/2025 5:59,77.862465,03/11/2025 5:59,79.728737,0,0.000000

In [173]:
db_extract_df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 158397 entries, 0 to 302392
Data columns (total 23 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       158397 non-null  int64
 1   flujo_cond_klb_hr_time   158397 non-null  object
 2   flujo_cond_klb_hr_value  158397 non-null  float64
 3   flujo_cana_ton_time      158397 non-null  object
 4   flujo_cana_ton_value     158397 non-null  float64
 5   jcla_c1_m3_hr_time       158397 non-null  object
 6   jcla_c1_m3_hr_value      158397 non-null  float64
 7   jcla_c2_m3_hr_time       158397 non-null  object
 8   jcla_c2_m3_hr_value      158397 non-null  float64
 9   jcla_c3_m3_hr_time       158397 non-null  object
 10  jcla_c3_m3_hr_value      158397 non-null  float64
 11  jcla_c4_m3_hr_time       158397 non-null  object
 12  jcla_c4_m3_hr_value      158397 non-null  float64
 13  cond_c1_m3_hr_time       158397 non-null  object
 14  cond_c1_m3_hr_value      158397 non-null  float64
 15  cond_c2_m3_hr_time       158397 non-null  object
 16  cond_c2_m3_hr_value      158397 non-null  float64
 17  cond_c3_m3_hr_time       158397 non-null  object
 18  cond_c3_m3_hr_value      158397 non-null  float64
 19  cond_c4_m3_hr_time       158397 non-null  object
 20  cond_c4_m3_hr_value      158397 non-null  float64
 21  brix_mel_time            158397 non-null  object
 22  brix_mel_value           158397 non-null  float64
dtypes: float64(11), int64(1), object(11)
memory usage: 29.0+ MB

In [174]:
# Calcular el Indicador 1
db_extract_df1["indicador_1"] = (
    db_extract_df1["flujo_cond_klb_hr_value"] * 1000
) / db_extract_df1["flujo_cana_ton_value"]

# Crear nueva tabla con el tiempo y el indicador
indicador_1_df = db_extract_df1[[
    "flujo_cond_klb_hr_time", "indicador_1"
]].copy()

# Renombrar columna de tiempo si quer칠s m치s claridad
indicador_1_df.rename(columns={
    "flujo_cond_klb_hr_time": "tiempo",
    "indicador_1": "Indicador 1"
}, inplace=True)

In [175]:
indicador_1_df

                 tiempo  Indicador 1
0       03/07/2025 5:55   711.528400
1       03/07/2025 5:55   708.362002
2       03/07/2025 5:55   734.054831
3       03/07/2025 5:55   737.052067
4       03/07/2025 5:55   717.782137
...                 ...          ...
302388  03/11/2025 5:58   769.425014
302389  03/11/2025 5:58   763.392878
302390  03/11/2025 5:58   762.047229
302391  03/11/2025 5:58   759.764090
302392  03/11/2025 5:59   763.177493

[158397 rows x 2 columns]

In [176]:
# Asegurar que la columna 'tiempo' es datetime
indicador_1_df['tiempo'] = pd.to_datetime(indicador_1_df['tiempo'])

# Obtener la primera fecha en los datos y ajustar a las 06:30
inicio = indicador_1_df['tiempo'].min().replace(hour=6, minute=30, second=0, microsecond=0)

# Generar los intervalos de 2 horas desde el primer dato sin reiniciar cada d칤a
indicador_1_df['intervalo'] = inicio + ((indicador_1_df['tiempo'] - inicio) // pd.Timedelta(hours=2)) * pd.Timedelta(hours=2)

# Detectar y eliminar valores at칤picos usando el rango intercuart칤lico (IQR)
Q1 = indicador_1_df['Indicador 1'].quantile(0.25)
Q3 = indicador_1_df['Indicador 1'].quantile(0.75)
IQR = Q3 - Q1

# Definir l칤mites para detectar valores at칤picos
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

# Filtrar los valores dentro del rango permitido
indicador_1_df_filtrado = indicador_1_df[(indicador_1_df['Indicador 1'] >= limite_inferior) & (indicador_1_df['Indicador 1'] <= limite_superior)]

# Agrupar por el intervalo de 2 horas y calcular la media sin valores at칤picos
indicador_1_df_agrupado = indicador_1_df_filtrado.groupby('intervalo', as_index=False)['Indicador 1'].mean()

# Renombrar la columna "intervalo" a "tiempo"
indicador_1_df_agrupado = indicador_1_df_agrupado.rename(columns={'intervalo': 'tiempo'})

# Mostrar los primeros resultados
print(indicador_1_df_agrupado.head())

               tiempo  Indicador 1
0 2025-03-07 04:30:00   723.384029
1 2025-03-07 06:30:00   721.749675
2 2025-03-07 08:30:00   755.734474
3 2025-03-07 10:30:00   800.148176
4 2025-03-07 12:30:00   760.017135

In [177]:
indicador_1_df_agrupado

                tiempo  Indicador 1
0  2025-03-07 04:30:00   723.384029
1  2025-03-07 06:30:00   721.749675
2  2025-03-07 08:30:00   755.734474
3  2025-03-07 10:30:00   800.148176
4  2025-03-07 12:30:00   760.017135
5  2025-03-07 14:30:00   751.264721
6  2025-03-07 16:30:00   762.169556
7  2025-03-07 18:30:00   769.216522
8  2025-03-07 20:30:00   818.913787
9  2025-03-07 22:30:00   898.402828
10 2025-03-08 00:30:00   910.594123
11 2025-03-08 02:30:00   887.829743
12 2025-03-08 04:30:00   869.169689
13 2025-03-08 06:30:00   800.362202
14 2025-03-08 08:30:00   877.651568
15 2025-03-08 10:30:00   897.347361
16 2025-03-08 12:30:00   878.672670
17 2025-03-08 14:30:00   907.985091
18 2025-03-08 16:30:00   922.040714
19 2025-03-08 18:30:00   937.895957
20 2025-03-08 20:30:00   867.713863
21 2025-03-08 22:30:00   814.045552
22 2025-03-09 00:30:00   804.237479
23 2025-03-09 02:30:00   768.663434
24 2025-03-09 04:30:00   770.860235
25 2025-03-09 06:30:00   764.095459
26 2025-03-09 08:30:00   728.035294
27 2025-03-09 10:30:00   748.800807
28 2025-03-09 12:30:00   759.349185
29 2025-03-09 14:30:00   793.710845
30 2025-03-09 16:30:00   742.713548
31 2025-03-09 18:30:00   721.288992
32 2025-03-09 20:30:00   778.758388
33 2025-03-10 04:30:00   750.408599
34 2025-03-10 06:30:00   729.422717
35 2025-03-10 08:30:00   720.325352
36 2025-03-10 10:30:00   724.906814
37 2025-03-10 12:30:00   746.382186
38 2025-03-10 14:30:00   752.489450
39 2025-03-10 16:30:00   754.560370
40 2025-03-10 18:30:00   774.206996
41 2025-03-10 20:30:00   758.234964
42 2025-03-10 22:30:00   760.712857
43 2025-03-11 00:30:00   770.363316
44 2025-03-11 02:30:00   734.458117
45 2025-03-11 04:30:00   752.071310

In [178]:
db_extract_df1

,id,flujo_cond_klb_hr_time,flujo_cond_klb_hr_value,flujo_cana_ton_time,flujo_cana_ton_value,jcla_c1_m3_hr_time,jcla_c1_m3_hr_value,jcla_c2_m3_hr_time,jcla_c2_m3_hr_value,jcla_c3_m3_hr_time,...,cond_c1_m3_hr_value,cond_c2_m3_hr_time,cond_c2_m3_hr_value,cond_c3_m3_hr_time,cond_c3_m3_hr_value,cond_c4_m3_hr_time,cond_c4_m3_hr_value,brix_mel_time,brix_mel_value,indicador_1
0,1,03/07/2025 5:55,315.719513,03/07/2025 5:55,443.720184,03/07/2025 5:55,239.750442,03/07/2025 5:55,234.947327,03/07/2025 5:55,...,77.645462,03/07/2025 5:55,86.390884,03/07/2025 5:55,0.021700,03/07/2025 5:55,8.984131,03/07/2025 5:55,63.737381,711.528400
1,2,03/07/2025 5:55,316.451904,03/07/2025 5:55,446.737549,03/07/2025 5:55,240.213394,03/07/2025 5:55,234.600113,03/07/2025 5:55,...,78.404991,03/07/2025 5:55,79.685333,03/07/2025 5:55,0.021700,03/07/2025 5:55,8.875627,03/07/2025 5:55,63.640530,708.362002
2,3,03/07/2025 5:55,318.299194,03/07/2025 5:55,433.617737,03/07/2025 5:55,240.097656,03/07/2025 5:55,234.426514,03/07/2025 5:55,...,79.924042,03/07/2025 5:55,82.072426,03/07/2025 5:55,0.021700,03/07/2025 5:55,8.745422,03/07/2025 5:55,63.570152,734.054831
3,4,03/07/2025 5:55,320.195297,03/07/2025 5:55,434.426971,03/07/2025 5:55,240.155518,03/07/2025 5:55,234.195038,03/07/2025 5:55,...,79.186218,03/07/2025 5:55,84.068893,03/07/2025 5:55,0.021700,03/07/2025 5:55,8.398210,03/07/2025 5:55,63.541397,737.052067
4,5,03/07/2025 5:55,322.083267,03/07/2025 5:55,448.720093,03/07/2025 5:55,239.750442,03/07/2025 5:55,234.715851,03/07/2025 5:55,...,75.996201,03/07/2025 5:55,86.043671,03/07/2025 5:55,0.021700,03/07/2025 5:55,8.094398,03/07/2025 5:55,63.504044,717.782137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302388,302389,03/11/2025 5:58,370.861237,03/11/2025 1:58,481.997894,03/11/2025 5:58,0.231475,03/11/2025 5:58,163.363632,03/11/2025 5:58,...,0.043400,03/11/2025 5:58,65.840225,03/11/2025 5:58,77.623756,03/11/2025 5:58,88.192047,0,0.000000,769.425014
302389,302390,03/11/2025 5:58,370.861237,03/11/2025 1:58,485.806519,03/11/2025 5:58,0.231475,03/11/2025 5:58,160.122971,03/11/2025 5:58,...,0.043400,03/11/2025 5:58,64.407974,03/11/2025 5:58,77.819069,03/11/2025 5:58,86.412582,0,0.000000,763.392878
302390,302391,03/11/2025 5:58,372.016815,03/11/2025 1:58,488.180786,03/11/2025 5:58,0.231475,03/11/2025 5:58,158.097565,03/11/2025 5:58,...,0.043400,03/11/2025 5:58,65.080696,03/11/2025 5:58,77.536957,03/11/2025 5:58,86.390884,0,0.000000,762.047229
302391,302392,03/11/2025 5:58,368.192047,03/11/2025 1:58,484.613648,03/11/2025 5:58,0.231475,03/11/2025 5:58,157.113800,03/11/2025 5:58,...,0.043400,03/11/2025 5:58,66.209137,03/11/2025 5:58,78.101181,03/11/2025 5:58,83.114059,0,0.000000,759.764090
302392,302393,03/11/2025 5:59,367.272461,03/11/2025 1:59,481.241211,03/11/2025 5:59,0.173606,03/11/2025 5:59,156.014282,03/11/2025 5:59,...,0.043400,03/11/2025 5:59,65.623215,03/11/2025 5:59,77.862465,03/11/2025 5:59,79.728737,0,0.000000,763.177493

In [179]:
# Lista para guardar todos los DataFrames preparados
lista_dfs = []

# Identificar columnas de tiempo
columnas_time = [col for col in db_extract_df1.columns if col.endswith('_time')]

for col_time in columnas_time:
    col_valor = col_time.replace('_time', '_value')

    if col_valor not in db_extract_df1.columns:
        continue

    # Trabajar con sub-DataFrame
    df_temp = db_extract_df1[[col_time, col_valor]].dropna().copy()

    # Reemplazar valores no v치lidos con NaT antes de convertir
    df_temp[col_time] = pd.to_datetime(df_temp[col_time], errors='coerce')

    # Verificar si hay valores NaT antes de proceder
    if df_temp[col_time].isna().sum() > 0:
        print(f"Existen valores NaT en la columna {col_time}, ser치n ignorados.")

    # Crear intervalos
    inicio = df_temp[col_time].min().replace(hour=6, minute=30, second=0, microsecond=0)
    df_temp['fecha_hora'] = inicio + ((df_temp[col_time] - inicio) // pd.Timedelta(hours=2)) * pd.Timedelta(hours=2)

    # Filtrar outliers
    Q1 = df_temp[col_valor].quantile(0.25)
    Q3 = df_temp[col_valor].quantile(0.75)
    IQR = Q3 - Q1
    lim_inf = Q1 - 1.5 * IQR
    lim_sup = Q3 + 1.5 * IQR
    df_filtrado = df_temp[(df_temp[col_valor] >= lim_inf) & (df_temp[col_valor] <= lim_sup)]

    # Agrupar y renombrar
    df_agrupado = df_filtrado.groupby('fecha_hora', as_index=False)[col_valor].mean()
    lista_dfs.append(df_agrupado)

# Combinar todos los DataFrames por 'fecha_hora'
df_merged = reduce(lambda left, right: pd.merge(left, right, on='fecha_hora', how='outer'), lista_dfs)

# Ordenar por fecha
df_merged = df_merged.sort_values(by='fecha_hora')

# Mostrar
print(df_merged.head())

Existen valores NaT en la columna brix_mel_time, ser치n ignorados.
           fecha_hora  flujo_cond_klb_hr_value  flujo_cana_ton_value  \
0 2025-03-07 04:30:00               309.596598            427.328418
1 2025-03-07 06:30:00               310.314723            422.850255
2 2025-03-07 08:30:00               319.326492            417.781663
3 2025-03-07 10:30:00               325.767482                   NaN
4 2025-03-07 12:30:00               322.684140            413.574549

   jcla_c1_m3_hr_value  jcla_c2_m3_hr_value  jcla_c3_m3_hr_value  \
0           241.883928           239.141939             0.117336
1           263.937142           260.948709             0.116573
2           267.737933           257.422048             0.116365
3           264.769006           258.214384             0.116975
4           254.422981           248.097739             0.117124

   jcla_c4_m3_hr_value  cond_c1_m3_hr_value  cond_c2_m3_hr_value  \
0             0.115738            77.744023            85.666212
1             0.115738            75.743874            85.630908
2             0.115738            77.491035            88.018974
3             0.115738            79.615712            90.388812
4             0.115738            78.759711            90.240493

   cond_c3_m3_hr_value  cond_c4_m3_hr_value  brix_mel_value
0             0.019633             6.862888       66.978067
1             0.020989             4.969797       62.691097
2             0.211799             7.047920       64.797380
3             0.080347             2.570551       63.557917
4             0.000720             2.863007       62.346327

In [180]:
df_merged

,fecha_hora,flujo_cond_klb_hr_value,flujo_cana_ton_value,jcla_c1_m3_hr_value,jcla_c2_m3_hr_value,jcla_c3_m3_hr_value,jcla_c4_m3_hr_value,cond_c1_m3_hr_value,cond_c2_m3_hr_value,cond_c3_m3_hr_value,cond_c4_m3_hr_value,brix_mel_value
0,2025-03-07 04:30:00,309.596598,427.328418,241.883928,239.141939,0.117336,0.115738,77.744023,85.666212,0.019633,6.862888,66.978067
1,2025-03-07 06:30:00,310.314723,422.850255,263.937142,260.948709,0.116573,0.115738,75.743874,85.630908,0.020989,4.969797,62.691097
2,2025-03-07 08:30:00,319.326492,417.781663,267.737933,257.422048,0.116365,0.115738,77.491035,88.018974,0.211799,7.047920,64.797380
3,2025-03-07 10:30:00,325.767482,NaN,264.769006,258.214384,0.116975,0.115738,79.615712,90.388812,0.080347,2.570551,63.557917
4,2025-03-07 12:30:00,322.684140,413.574549,254.422981,248.097739,0.117124,0.115738,78.759711,90.240493,0.000720,2.863007,62.346327
5,2025-03-07 14:30:00,314.526904,421.264863,259.037421,253.282379,0.116687,0.115738,77.510116,86.895441,0.000072,0.024326,64.137603
6,2025-03-07 16:30:00,319.616425,408.806687,242.361338,234.078496,0.116284,0.115738,77.831231,88.736259,0.017493,-0.021700,64.350213
7,2025-03-07 18:30:00,325.104019,NaN,235.575370,237.361513,0.115930,0.115738,76.990313,87.278041,0.010416,-0.021700,63.909535
8,2025-03-07 20:30:00,324.637251,369.741560,240.747660,233.327957,0.115883,0.115738,79.898994,90.181092,0.020273,-0.021700,59.892985
9,2025-03-07 22:30:00,308.985914,342.510737,228.237171,223.475003,0.115786,0.115738,78.689353,85.959447,0.021682,-0.021700,65.427988
10,2025-03-08 00:30:00,317.825994,357.276250,235.063713,232.682942,0.115834,0.115738,79.461564,89.627173,0.021489,-0.021700,59.911126
11,2025-03-08 02:30:00,317.108005,NaN,235.667284,234.158950,0.116734,0.115738,79.525943,89.241879,0.020820,-0.021700,64.378745
12,2025-03-08 04:30:00,309.772834,336.629416,231.362675,227.678227,0.115996,0.115738,78.546029,85.526400,0.021676,-0.021700,66.509519
13,2025-03-08 06:30:00,304.723862,346.238032,136.968717,225.744198,86.158013,0.130928,49.441865,84.612285,25.254532,-0.014015,60.453540
14,2025-03-08 08:30:00,306.841935,352.741552,0.223454,216.186910,222.961819,0.155764,0.828692,78.757830,86.898446,-0.000223,66.234597
15,2025-03-08 10:30:00,312.254271,NaN,0.224997,220.096076,227.089649,0.155088,0.048234,80.454682,90.988601,0.017554,67.183749
16,2025-03-08 12:30:00,308.810011,344.195384,0.225187,228.706821,240.047881,0.156047,0.046296,79.235870,90.555562,0.848943,63.753647
17,2025-03-08 14:30:00,315.300792,343.613023,0.223856,224.909169,234.406178,0.135043,0.057367,81.123436,92.058957,-0.000036,66.870981
18,2025-03-08 16:30:00,318.089786,336.951883,0.225720,240.709023,249.871568,0.141618,0.047981,81.330381,93.739250,8.944931,66.481336
19,2025-03-08 18:30:00,313.216115,NaN,0.224065,236.426089,243.553661,0.145749,2.415443,81.387048,92.564085,16.173099,65.320132
20,2025-03-08 20:30:00,315.546369,382.269190,0.225300,234.354084,239.746412,0.153613,0.048037,80.376172,91.707965,-0.000060,64.979635
21,2025-03-08 22:30:00,312.734687,390.306103,0.229755,246.039174,249.723777,0.158110,0.048590,83.520441,90.737884,-0.000036,63.141917
22,2025-03-09 00:30:00,311.952441,390.047319,0.225367,237.691471,243.564688,0.158673,0.050109,81.921299,92.241677,-0.000054,63.372265
23,2025-03-09 02:30:00,305.906372,NaN,0.226347,233.798781,240.812962,0.160168,0.048795,81.638281,90.961288,-0.000078,65.706875
24,2025-03-09 04:30:00,307.240939,405.788986,0.228283,237.628485,244.272755,0.156112,0.050903,82.361118,92.357587,-0.000091,64.110419
25,2025-03-09 06:30:00,311.774710,422.071806,0.225367,235.397937,241.504125,0.158191,0.051206,82.674995,92.375143,-0.000060,54.781352
26,2025-03-09 08:30:00,313.016474,424.276947,0.229080,260.917275,267.483873,0.154831,0.046528,84.236597,93.417939,-0.000090,56.294245
27,2025-03-09 10:30:00,315.964213,NaN,0.228598,248.091314,254.397551,0.144543,0.045166,84.204562,94.108917,-0.000084,66.228104
28,2025-03-09 12:30:00,319.628870,392.920041,0.226154,255.151574,260.949257,0.150694,0.044180,85.855865,95.257676,-0.000030,65.005274
29,2025-03-09 14:30:00,315.444955,414.872389,0.226138,255.328322,260.809012,0.159686,9.839033,84.828908,93.810205,0.299574,63.960593
30,2025-03-09 16:30:00,314.369350,423.829731,0.228341,253.107639,258.552161,0.155088,0.048361,84.370245,93.762246,-0.000030,64.566511
31,2025-03-09 18:30:00,322.195661,NaN,0.218921,193.108639,200.367863,150.193603,0.044642,67.204723,78.064973,51.617563,62.985941
32,2025-03-09 20:30:00,325.668196,NaN,0.202728,148.255969,149.054678,168.893742,0.043408,60.479608,71.656858,74.667751,63.897410
33,2025-03-10 04:30:00,331.616743,450.123266,0.212551,162.697008,173.143392,201.245662,0.043423,58.413715,69.660182,83.691381,63.744029
34,2025-03-10 06:30:00,330.749941,458.708026,0.212700,159.883942,170.908801,195.762631,0.043659,59.283389,71.487202,82.888500,62.781187
35,2025-03-10 08:30:00,332.521998,450.204506,0.211237,160.380376,172.930078,197.369824,0.043436,58.596800,70.413874,83.532122,61.665867
36,2025-03-10 10:30:00,324.392975,NaN,0.209887,159.204145,169.594021,192.149962,0.043406,56.752745,68.595377,79.505472,61.920360
37,2025-03-10 12:30:00,330.195181,431.943954,0.208628,163.780090,174.473709,197.732292,0.043400,59.186231,71.428082,81.919339,59.711849
38,2025-03-10 14:30:00,332.519702,443.810482,0.206688,156.766598,167.889737,191.581594,0.043400,60.017473,72.302718,83.555764,60.532313
39,2025-03-10 16:30:00,335.446481,442.697969,0.206592,158.704110,169.215833,194.082700,0.043412,60.796423,73.032546,84.955519,53.869525
40,2025-03-10 18:30:00,337.020571,NaN,0.207476,160.480377,169.612106,194.412729,0.043430,61.933177,73.675974,85.532333,64.791879
41,2025-03-10 20:30:00,335.146532,447.434075,0.210433,165.676491,175.520492,196.044648,0.043448,62.965217,75.015244,84.421830,65.816769
42,2025-03-10 22:30:00,333.841085,445.272093,0.207219,160.806355,170.928605,191.989184,0.043496,62.399690,74.923831,84.478222,66.062293
43,2025-03-11 00:30:00,335.332863,452.747579,0.211543,171.066719,178.998602,193.329939,0.043955,65.783315,73.765050,77.964119,67.341567
44,2025-03-11 02:30:00,334.344972,NaN,0.212539,176.886632,185.386739,197.240873,0.043750,67.350077,75.228009,75.966705,66.862653
45,2025-03-11 04:30:00,335.577974,NaN,0.213428,169.851626,177.793560,194.388474,0.043514,63.660705,74.820636,83.820731,64.689068

In [181]:
db_extract_df2.loc[:, "Indicador 2"] = (
    (db_extract_df2["brix_melaza"] - db_extract_df2["brix_jugo"]) / db_extract_df2["brix_melaza"]
) * 100
# Crear tabla nueva
indicador_2_df = db_extract_df2[["fecha_hora_compuesta", "Indicador 2"]].copy()
indicador_2_df.rename(columns={"fecha_hora_compuesta": "tiempo"}, inplace=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_7932\573990931.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db_extract_df2.loc[:, "Indicador 2"] = (

In [182]:
indicador_2_df

                 tiempo  Indicador 2
0   2025-03-01 06:30:00    80.084746
1   2025-03-01 08:30:00    80.138607
2   2025-03-01 10:30:00    79.989782
3   2025-03-01 12:30:00    80.807412
4   2025-03-01 14:30:00    80.481728
..                  ...          ...
122 2025-03-11 20:30:00    80.192178
123 2025-03-11 22:30:00    81.525157
124 2025-03-11 00:30:00    81.419987
125 2025-03-11 02:30:00    80.648880
126 2025-03-11 04:30:00    82.023026

[127 rows x 2 columns]

In [183]:
# Renombrar la columna 'tiempo' a 'fecha_hora' en indicador_2_df
indicador_2_df = indicador_2_df.rename(columns={"tiempo": "fecha_hora"})
indicador_1_df_agrupado = indicador_1_df_agrupado.rename(columns={"tiempo": "fecha_hora"})


# Convertir 'fecha_hora' en indicador_2_df a tipo datetime
indicador_2_df["fecha_hora"] = pd.to_datetime(indicador_2_df["fecha_hora"])

# Realizar el merge
df_merged = df_merged.merge(indicador_1_df_agrupado, on="fecha_hora", how="left")
df_merged = df_merged.merge(indicador_2_df, on="fecha_hora", how="left")

In [184]:
df_merged = df_merged.rename(columns={
    "Indicador 2": "Indicador_2",
    "Indicador 1": "Indicador_1"
})
print(df_merged.columns)

Index(['fecha_hora', 'flujo_cond_klb_hr_value', 'flujo_cana_ton_value',
       'jcla_c1_m3_hr_value', 'jcla_c2_m3_hr_value', 'jcla_c3_m3_hr_value',
       'jcla_c4_m3_hr_value', 'cond_c1_m3_hr_value', 'cond_c2_m3_hr_value',
       'cond_c3_m3_hr_value', 'cond_c4_m3_hr_value', 'brix_mel_value',
       'Indicador_1', 'Indicador_2'],
      dtype='object')

In [185]:
# --- 1. CREAR TABLA DE DIMENSI칍N TIEMPO SI NO EXISTE ---
with engine.connect() as conn:
    conn.execute(text("""
        CREATE TABLE IF NOT EXISTS dim_fecha (
            Id_Fecha DATETIME PRIMARY KEY,
            Ano INT,
            Mes INT,
            Dia INT,
            Hora TIME
        );
    """))

# --- 2. CREAR TABLA DE HECHOS CON NUEVA LLAVE PRIMARIA ---
with engine.begin() as conn:
    conn.execute(text("""
        CREATE TABLE IF NOT EXISTS hechos_indicadores (
            id_hecho INT AUTO_INCREMENT PRIMARY KEY,
            Id_Fecha DATETIME,
            flujo_cond_klb_hr_value FLOAT,
            flujo_cana_ton_value FLOAT,
            brix_mel_value FLOAT,
            Indicador_1 FLOAT,
            Indicador_2 FLOAT,
            FOREIGN KEY (Id_Fecha) REFERENCES dim_fecha(Id_Fecha)
        );
    """))
# --- 3. CREAR DIMENSI칍N TIEMPO DESDE LOS DATOS ---
dim_fecha_df = pd.DataFrame()
dim_fecha_df["Id_Fecha"] = df_merged["fecha_hora"]  # O "Id_Fecha", seg칰n tu DataFrame
dim_fecha_df["Ano"] = dim_fecha_df["Id_Fecha"].dt.year
dim_fecha_df["Mes"] = dim_fecha_df["Id_Fecha"].dt.month
dim_fecha_df["Dia"] = dim_fecha_df["Id_Fecha"].dt.day
dim_fecha_df["Hora"] = dim_fecha_df["Id_Fecha"].dt.time

dim_fecha_df = dim_fecha_df.drop_duplicates()

hechos_df = df_merged[[
    "fecha_hora",
    "flujo_cond_klb_hr_value",
    "flujo_cana_ton_value",
    "brix_mel_value",
    "Indicador_1",
    "Indicador_2"
]].rename(columns={"fecha_hora": "Id_Fecha"})

# --- 5. EVITAR DUPLICADOS EN INSERCI칍N ---
fechas_cargadas = pd.read_sql("SELECT Id_Fecha FROM dim_fecha", con=engine)
dim_fecha_nueva = dim_fecha_df[~dim_fecha_df["Id_Fecha"].isin(fechas_cargadas["Id_Fecha"])]
hechos_nuevos = hechos_df[~hechos_df["Id_Fecha"].isin(fechas_cargadas["Id_Fecha"])]

# --- 6. INSERTAR DATOS EN LA BASE ---
dim_fecha_nueva.to_sql("dim_fecha", con=engine, if_exists="append", index=False)
hechos_nuevos.to_sql("hechos_indicadores", con=engine, if_exists="append", index=False)

print("Dimensi칩n tiempo y tabla de hechos cargadas exitosamente en MySQL.")

Dimensi칩n tiempo y tabla de hechos cargadas exitosamente en MySQL.

In [186]:
hechos_nuevos = hechos_nuevos.rename(columns={
    "Indicador 1": "Flujo_Condensados",
    "Indicador 2": "Brix_Eficiencia"
})

In [187]:
indicador_1_df_agrupado = indicador_1_df_agrupado.rename(columns={"tiempo": "Id_Fecha", "Indicador 1": "Indicador_1"})
indicador_2_df = indicador_2_df.rename(columns={"tiempo": "Id_Fecha", "Indicador 2": "Indicador_2"})

In [188]:
dim_fecha_df = pd.DataFrame()
dim_fecha_df["Id_Fecha"] = hechos_df["Id_Fecha"]
dim_fecha_df["Ano"] = dim_fecha_df["Id_Fecha"].dt.year
dim_fecha_df["Mes"] = dim_fecha_df["Id_Fecha"].dt.month
dim_fecha_df["Dia"] = dim_fecha_df["Id_Fecha"].dt.day
dim_fecha_df["Hora"] = dim_fecha_df["Id_Fecha"].dt.time
dim_fecha_df = dim_fecha_df.drop_duplicates()

In [189]:
# Ver qu칠 fechas ya existen
fechas_cargadas = pd.read_sql("SELECT Id_Fecha FROM dim_fecha", con=engine)

# Filtrar las nuevas
dim_fecha_nueva = dim_fecha_df[~dim_fecha_df["Id_Fecha"].isin(fechas_cargadas["Id_Fecha"])]
hechos_nuevos = hechos_df[~hechos_df["Id_Fecha"].isin(fechas_cargadas["Id_Fecha"])]

In [190]:
hechos_df.to_sql("hechos_indicadores", con=engine, if_exists="append", index=False)

46

In [191]:
from sqlalchemy.exc import IntegrityError

try:
    dim_fecha_nueva.to_sql("dim_fecha", con=engine, if_exists="append", index=False)
except IntegrityError as e:
    print("Saltando duplicados en dim_fecha:", e)

hechos_nuevos.to_sql("hechos_indicadores", con=engine, if_exists="append", index=False)

0

In [192]:
print("Total en hechos_df:", len(hechos_df))
print("Total ya cargadas:", len(fechas_cargadas))
print("Total nuevas a insertar:", len(hechos_nuevos))

Total en hechos_df: 46
Total ya cargadas: 46
Total nuevas a insertar: 0

In [193]:
# Eliminar datos antiguos
with engine.begin() as conn:
    conn.execute(text("DELETE FROM hechos_indicadores"))

# Insertar todos los datos nuevos
hechos_df.to_sql("hechos_indicadores", con=engine, if_exists="append", index=False)

46

In [194]:
df_merged.to_csv("df_merged.csv", index=False)
hechos_df.to_csv("hechos_df.csv", index=False)

In [195]:
print(hechos_df.head(10))
print(hechos_df.isnull().sum())

             Id_Fecha  flujo_cond_klb_hr_value  flujo_cana_ton_value  \
0 2025-03-07 04:30:00               309.596598            427.328418
1 2025-03-07 06:30:00               310.314723            422.850255
2 2025-03-07 08:30:00               319.326492            417.781663
3 2025-03-07 10:30:00               325.767482                   NaN
4 2025-03-07 12:30:00               322.684140            413.574549
5 2025-03-07 14:30:00               314.526904            421.264863
6 2025-03-07 16:30:00               319.616425            408.806687
7 2025-03-07 18:30:00               325.104019                   NaN
8 2025-03-07 20:30:00               324.637251            369.741560
9 2025-03-07 22:30:00               308.985914            342.510737

   brix_mel_value  Indicador_1  Indicador_2
0       66.978067   723.384029    81.684923
1       62.691097   721.749675    83.868753
2       64.797380   755.734474    83.271640
3       63.557917   800.148176    84.283039
4       62.346327   760.017135    83.039709
5       64.137603   751.264721    83.552632
6       64.350213   762.169556    82.525283
7       63.909535   769.216522    83.175830
8       59.892985   818.913787    82.859238
9       65.427988   898.402828    81.978528
Id_Fecha                    0
flujo_cond_klb_hr_value     0
flujo_cana_ton_value       13
brix_mel_value              0
Indicador_1                 0
Indicador_2                 0
dtype: int64