In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import yaml
import urllib.parse
from sqlalchemy import create_engine, text
import mysql.connector
import os

In [2]:
csv_folder = "Data_Holder"
csv_folderlab = "data_sigind"

In [3]:
columnas = [
    "flujo_cond_klb_hr_time", "flujo_cond_klb_hr_value", "flujo_cana_ton_time", "flujo_cana_ton_value",
    "jcla_c1_m3_hr_time", "jcla_c1_m3_hr_value", "jcla_c2_m3_hr_time", "jcla_c2_m3_hr_value",
    "jcla_c3_m3_hr_time", "jcla_c3_m3_hr_value", "jcla_c4_m3_hr_time", "jcla_c4_m3_hr_value",
    "cond_c1_m3_hr_time", "cond_c1_m3_hr_value", "cond_c2_m3_hr_time", "cond_c2_m3_hr_value",
    "cond_c3_m3_hr_time", "cond_c3_m3_hr_value", "cond_c4_m3_hr_time", "cond_c4_m3_hr_value",
    "brix_mel_time", "brix_mel_value"
]

columnas2 = [
    "fecha_hora", "brix_jugo", "brix_melaza", "ph_alacalizado", "ph_clarificado", "ph_melada_sin_clarificador", "pza_jugo_clarificado", "pza_meladura_sin_clarificar"
]

In [4]:
def load_config(file_path="config.yaml"):
    with open(file_path, "r") as file:
        return yaml.safe_load(file)

In [5]:
config = load_config()
db_config = config["database"]

In [6]:
#Meter Credenciales
db_user = db_config["user"]
db_password = db_config["password"]
db_host = db_config["host"]
db_port = 3306 
db_name = db_config["name"]

In [7]:
print (db_name)

gestion

In [8]:
#Conectar a MySql
conn = mysql.connector.connect(
    host=db_host,
    user=db_user,
    password=db_password
)

In [9]:
#Crea un cursor para ejecutar consultas
cursor = conn.cursor()

In [10]:
#Crear la base de datos si no existe
cursor.execute(f"CREATE DATABASE IF NOT EXISTS {db_name}")

In [11]:
#Confirmar la creacion de la base de datos
print("Base de datos '{db_name}' creada o ya existía.")

Base de datos '{db_name}' creada o ya existía.

In [12]:
#Función para limpiar datos y subirlos a MySQL
def procesar_csv_y_subir(archivo_csv):
    print(f"Procesando: {archivo_csv}")
    
    try:
        # Leer el CSV
        df = pd.read_csv(archivo_csv, sep=";", engine="python")

        # 🔹 Renombrar columnas para mantener consistencia
        df.columns = columnas
        
        # 🔹 Insertar en MySQL
        with engine.connect() as conn:
            df.to_sql("gestion_table", con=engine, if_exists="append", index=False)

        print(f"{archivo_csv} cargado correctamente en MySQL.")

        #Borrar el archivo después de procesarlo
        os.remove(archivo_csv)
        print(f"Archivo eliminado: {archivo_csv}")

    except Exception as e:
        print(f"Error al procesar {archivo_csv}: {e}")

In [13]:
#Procesar y Subir  CSV de la Sigind
def procesar_csv_y_subir2(archivo_csv2):
    print(f"Procesando: {archivo_csv2}")
    
    try:
        # Leer el CSV
        # Leer desde la fila 8 (indexada como 7)
        df = pd.read_csv(archivo_csv2, sep=';', encoding='latin1')


        # 🔹 Renombrar columnas para mantener consistencia
        df.columns = columnas2
        
        # 🔹 Insertar en MySQL
        with engine.connect() as conn:
            df.to_sql("gestion_table_sigind", con=engine, if_exists="append", index=False)

        print(f"{archivo_csv2} sigind data cargada correctamente en MySQL.")

        #Borrar el archivo después de procesarlo
        os.remove(archivo_csv2)
        print(f"Archivo eliminado: {archivo_csv2}")

    except Exception as e:
        print(f"Error al procesar {archivo_csv2}: {e}")

In [14]:
#Conexion a la base de datos
try:
    conn = mysql.connector.connect(
        user=db_user, 
        password=db_password, 
        host=db_host, 
        database=db_name
    )
    cursor = conn.cursor()
    print(f"Conexión exitosa a la base de datos '{db_name}'.")

    cursor.close()
    conn.close()

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Error de autenticación: Verifica tu usuario y contraseña.")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print(f"La base de datos '{db_name}' no existe.")
    else:
        print(f"Error: {err}")

Conexión exitosa a la base de datos 'gestion'.

In [15]:
#Configuracion a mi base de datos
db_config = {
    'host': db_host,  # Cambia según tu configuración
    'user': db_user,  # Coloca tu usuario de MySQL
    'password': db_password,  # Coloca tu contraseña de MySQL
    'database': db_name  # Nombre de la base de datos
}

In [16]:
#Conectar a la base de datos
try:
    connection = mysql.connector.connect(**db_config)
    cursor = connection.cursor()

    # Consulta SQL para crear la tabla
    create_table_query = """
    CREATE TABLE IF NOT EXISTS gestion_table (
        id INT AUTO_INCREMENT PRIMARY KEY,
        flujo_cond_klb_hr_time VARCHAR(30),
        flujo_cond_klb_hr_value VARCHAR(30),
        flujo_cana_ton_time VARCHAR(30),
        flujo_cana_ton_value VARCHAR(30),
        jcla_c1_m3_hr_time VARCHAR(30),
        jcla_c1_m3_hr_value VARCHAR(30),
        jcla_c2_m3_hr_time VARCHAR(30),
        jcla_c2_m3_hr_value VARCHAR(30),
        jcla_c3_m3_hr_time VARCHAR(30),
        jcla_c3_m3_hr_value VARCHAR(30),
        jcla_c4_m3_hr_time VARCHAR(30),
        jcla_c4_m3_hr_value VARCHAR(30),
        cond_c1_m3_hr_time VARCHAR(30),
        cond_c1_m3_hr_value VARCHAR(30),
        cond_c2_m3_hr_time VARCHAR(30),
        cond_c2_m3_hr_value VARCHAR(30),
        cond_c3_m3_hr_time VARCHAR(30),
        cond_c3_m3_hr_value VARCHAR(30),
        cond_c4_m3_hr_time VARCHAR(30),
        cond_c4_m3_hr_value VARCHAR(30),
        brix_mel_time VARCHAR(30),
        brix_mel_value VARCHAR(30)
    );
    """

    # Ejecutar la consulta
    cursor.execute(create_table_query)
    print("Tabla creada exitosamente.")

except mysql.connector.Error as error:
    print(f"Error al conectar o crear la tabla: {error}")
finally:
    # Cierra la conexión
    if connection.is_connected():
        cursor.close()
        connection.close()

Tabla creada exitosamente.

In [17]:
#Conectar a la base de datos
try:
    connection = mysql.connector.connect(**db_config)
    cursor = connection.cursor()

    # Consulta SQL para crear la tabla
    create_table_query = """
    CREATE TABLE IF NOT EXISTS gestion_table_sigind (
        id INT AUTO_INCREMENT PRIMARY KEY,
        fecha_hora VARCHAR(30), 
        brix_jugo VARCHAR(30), 
        brix_melaza VARCHAR(30), 
        ph_alacalizado VARCHAR(30), 
        ph_clarificado VARCHAR(30), 
        ph_melada_sin_clarificador VARCHAR(30), 
        pza_jugo_clarificado VARCHAR(30), 
        pza_meladura_sin_clarificar VARCHAR(30)
        
    );
    """

    # Ejecutar la consulta
    cursor.execute(create_table_query)
    print("Tabla creada exitosamente.")

except mysql.connector.Error as error:
    print(f"Error al conectar o crear la tabla: {error}")
finally:
    # Cierra la conexión
    if connection.is_connected():
        cursor.close()
        connection.close()

Tabla creada exitosamente.

In [18]:
#Codificar la contraseña 
encoded_password = urllib.parse.quote_plus(db_password)

connection_url = f"mysql+mysqlconnector://{db_user}:{encoded_password}@{db_host}/{db_name}"
print(connection_url)

#Crear modelo de conexion con SQLAlchemy
engine = create_engine(connection_url)

mysql+mysqlconnector://root:root@localhost/gestion

In [19]:
#Recorrer todos los archivos CSV en la carpeta y procesarlos
for archivo in os.listdir(csv_folder):
    if archivo.endswith(".csv"):
        procesar_csv_y_subir(os.path.join(csv_folder, archivo))

print("Todos los archivos CSV han sido procesados y eliminados.")

Todos los archivos CSV han sido procesados y eliminados.

In [20]:
#Recorrer todos los archivos CSV sigind en la carpeta y procesarlos
for archivo2 in os.listdir(csv_folderlab):
    if archivo2.endswith(".csv"):
        procesar_csv_y_subir2(os.path.join(csv_folderlab, archivo2))

print("Todos los archivos CSV sigind han sido procesados y eliminados.")

Procesando: data_sigind\data07032025 T1(in).csv
Error al procesar data_sigind\data07032025 T1(in).csv: Length mismatch: Expected axis has 22 elements, new values have 8 elements
Todos los archivos CSV sigind han sido procesados y eliminados.

# Transformacion

In [106]:
with engine.connect() as conn:
    db_extract_df1 = pd.read_sql("SELECT * FROM gestion_table", conn)

db_extract_df1.head(5)

,id,flujo_cond_klb_hr_time,flujo_cond_klb_hr_value,flujo_cana_ton_time,flujo_cana_ton_value,jcla_c1_m3_hr_time,jcla_c1_m3_hr_value,jcla_c2_m3_hr_time,jcla_c2_m3_hr_value,jcla_c3_m3_hr_time,...,cond_c1_m3_hr_time,cond_c1_m3_hr_value,cond_c2_m3_hr_time,cond_c2_m3_hr_value,cond_c3_m3_hr_time,cond_c3_m3_hr_value,cond_c4_m3_hr_time,cond_c4_m3_hr_value,brix_mel_time,brix_mel_value
0,1,3/8/2025 5:56:06 AM,"295,5458984375",3/8/2025 5:56:06 AM,"376,117553710938",3/8/2025 5:56:06 AM,"189,173110961914",3/8/2025 5:56:06 AM,"188,594421386719",3/8/2025 5:56:06 AM,...,3/8/2025 5:56:06 AM,"77,7322616577148",3/8/2025 5:56:06 AM,"79,2513198852539",3/8/2025 5:56:06 AM,"2,17007994651794E-02",3/8/2025 5:56:06 AM,"-2,17007994651794E-02",3/8/2025 5:56:07 AM,"68,4170989990234"
1,2,3/8/2025 5:56:08 AM,"296,384094238281",3/8/2025 5:56:07 AM,"381,213134765625",3/8/2025 5:56:08 AM,"189,173110961914",3/8/2025 5:56:08 AM,"188,825897216797",3/8/2025 5:56:08 AM,...,3/8/2025 5:56:08 AM,"76,169807434082",3/8/2025 5:56:08 AM,"79,5985336303711",3/8/2025 5:56:08 AM,"2,17007994651794E-02",3/8/2025 5:56:08 AM,"-2,17007994651794E-02",3/8/2025 5:56:12 AM,"68,4475402832031"
2,3,3/8/2025 5:56:10 AM,"296,009765625",3/8/2025 5:56:08 AM,"365,3203125",3/8/2025 5:56:10 AM,"189,057373046875",3/8/2025 5:56:10 AM,"189,404586791992",3/8/2025 5:56:10 AM,...,3/8/2025 5:56:10 AM,"75,8876953125",3/8/2025 5:56:10 AM,"79,620231628418",3/8/2025 5:56:10 AM,"2,17007994651794E-02",3/8/2025 5:56:10 AM,"-2,17007994651794E-02",3/8/2025 5:56:17 AM,"68,4872665405273"
3,4,3/8/2025 5:56:12 AM,"301,470230102539",3/8/2025 5:56:09 AM,"356,674011230469",3/8/2025 5:56:12 AM,"189,346710205078",3/8/2025 5:56:12 AM,"189,346710205078",3/8/2025 5:56:12 AM,...,3/8/2025 5:56:12 AM,"77,1897430419922",3/8/2025 5:56:12 AM,"82,8536529541016",3/8/2025 5:56:12 AM,"2,17007994651794E-02",3/8/2025 5:56:12 AM,"-2,17007994651794E-02",3/8/2025 5:56:22 AM,"68,5318450927734"
4,5,3/8/2025 5:56:14 AM,"300,900573730469",3/8/2025 5:56:10 AM,"358,794677734375",3/8/2025 5:56:14 AM,"190,504089355469",3/8/2025 5:56:14 AM,"188,825897216797",3/8/2025 5:56:14 AM,...,3/8/2025 5:56:14 AM,"79,2079162597656",3/8/2025 5:56:14 AM,"76,8208312988281",3/8/2025 5:56:14 AM,"2,17007994651794E-02",3/8/2025 5:56:14 AM,"-2,17007994651794E-02",3/8/2025 5:56:27 AM,"68,5781936645508"

In [107]:
with engine.connect() as conn:
    db_extract_df2 = pd.read_sql("SELECT * FROM gestion_table_sigind", conn)

db_extract_df2.head(5)

,id,fecha_hora,brix_jugo,brix_melaza,ph_alacalizado,ph_clarificado,ph_melada_sin_clarificador,pza_jugo_clarificado,pza_meladura_sin_clarificar
0,1,01/03/sábado 06:30,None,"59,000","7,89","7,32","6,42",None,None
1,2,01/03/sábado 08:30,None,"59,160","7,58",None,"6,34",None,"84,843"
2,3,01/03/sábado 10:30,None,"58,720","7,46","6,88","6,20",None,None
3,4,01/03/sábado 12:30,"11,600","60,440","7,47","6,88","6,17","85,293","85,903"
4,5,01/03/sábado 14:30,None,"60,200","7,43","6,80","6,15",None,None

In [108]:
db_extract_df1.isna().sum()

id                              0
flujo_cond_klb_hr_time     115200
flujo_cond_klb_hr_value    115200
flujo_cana_ton_time             0
flujo_cana_ton_value            0
jcla_c1_m3_hr_time         115200
jcla_c1_m3_hr_value        115200
jcla_c2_m3_hr_time         115200
jcla_c2_m3_hr_value        115200
jcla_c3_m3_hr_time         115200
jcla_c3_m3_hr_value        115200
jcla_c4_m3_hr_time         115200
jcla_c4_m3_hr_value        115200
cond_c1_m3_hr_time         115200
cond_c1_m3_hr_value        115200
cond_c2_m3_hr_time         115200
cond_c2_m3_hr_value        115200
cond_c3_m3_hr_time         115200
cond_c3_m3_hr_value        115200
cond_c4_m3_hr_time         115200
cond_c4_m3_hr_value        115200
brix_mel_time              184320
brix_mel_value             184320
dtype: int64

In [109]:
db_extract_df1 = db_extract_df1[db_extract_df1.iloc[:, 1].notna()]
db_extract_df1["brix_mel_time"] = db_extract_df1["brix_mel_time"].fillna(0)
db_extract_df1["brix_mel_value"] = db_extract_df1["brix_mel_value"].fillna(0)

In [110]:
db_extract_df1.isna().sum()

id                         0
flujo_cond_klb_hr_time     0
flujo_cond_klb_hr_value    0
flujo_cana_ton_time        0
flujo_cana_ton_value       0
jcla_c1_m3_hr_time         0
jcla_c1_m3_hr_value        0
jcla_c2_m3_hr_time         0
jcla_c2_m3_hr_value        0
jcla_c3_m3_hr_time         0
jcla_c3_m3_hr_value        0
jcla_c4_m3_hr_time         0
jcla_c4_m3_hr_value        0
cond_c1_m3_hr_time         0
cond_c1_m3_hr_value        0
cond_c2_m3_hr_time         0
cond_c2_m3_hr_value        0
cond_c3_m3_hr_time         0
cond_c3_m3_hr_value        0
cond_c4_m3_hr_time         0
cond_c4_m3_hr_value        0
brix_mel_time              0
brix_mel_value             0
dtype: int64

In [111]:
db_extract_df1

,id,flujo_cond_klb_hr_time,flujo_cond_klb_hr_value,flujo_cana_ton_time,flujo_cana_ton_value,jcla_c1_m3_hr_time,jcla_c1_m3_hr_value,jcla_c2_m3_hr_time,jcla_c2_m3_hr_value,jcla_c3_m3_hr_time,...,cond_c1_m3_hr_time,cond_c1_m3_hr_value,cond_c2_m3_hr_time,cond_c2_m3_hr_value,cond_c3_m3_hr_time,cond_c3_m3_hr_value,cond_c4_m3_hr_time,cond_c4_m3_hr_value,brix_mel_time,brix_mel_value
0,1,3/8/2025 5:56:06 AM,"295,5458984375",3/8/2025 5:56:06 AM,"376,117553710938",3/8/2025 5:56:06 AM,"189,173110961914",3/8/2025 5:56:06 AM,"188,594421386719",3/8/2025 5:56:06 AM,...,3/8/2025 5:56:06 AM,"77,7322616577148",3/8/2025 5:56:06 AM,"79,2513198852539",3/8/2025 5:56:06 AM,"2,17007994651794E-02",3/8/2025 5:56:06 AM,"-2,17007994651794E-02",3/8/2025 5:56:07 AM,"68,4170989990234"
1,2,3/8/2025 5:56:08 AM,"296,384094238281",3/8/2025 5:56:07 AM,"381,213134765625",3/8/2025 5:56:08 AM,"189,173110961914",3/8/2025 5:56:08 AM,"188,825897216797",3/8/2025 5:56:08 AM,...,3/8/2025 5:56:08 AM,"76,169807434082",3/8/2025 5:56:08 AM,"79,5985336303711",3/8/2025 5:56:08 AM,"2,17007994651794E-02",3/8/2025 5:56:08 AM,"-2,17007994651794E-02",3/8/2025 5:56:12 AM,"68,4475402832031"
2,3,3/8/2025 5:56:10 AM,"296,009765625",3/8/2025 5:56:08 AM,"365,3203125",3/8/2025 5:56:10 AM,"189,057373046875",3/8/2025 5:56:10 AM,"189,404586791992",3/8/2025 5:56:10 AM,...,3/8/2025 5:56:10 AM,"75,8876953125",3/8/2025 5:56:10 AM,"79,620231628418",3/8/2025 5:56:10 AM,"2,17007994651794E-02",3/8/2025 5:56:10 AM,"-2,17007994651794E-02",3/8/2025 5:56:17 AM,"68,4872665405273"
3,4,3/8/2025 5:56:12 AM,"301,470230102539",3/8/2025 5:56:09 AM,"356,674011230469",3/8/2025 5:56:12 AM,"189,346710205078",3/8/2025 5:56:12 AM,"189,346710205078",3/8/2025 5:56:12 AM,...,3/8/2025 5:56:12 AM,"77,1897430419922",3/8/2025 5:56:12 AM,"82,8536529541016",3/8/2025 5:56:12 AM,"2,17007994651794E-02",3/8/2025 5:56:12 AM,"-2,17007994651794E-02",3/8/2025 5:56:22 AM,"68,5318450927734"
4,5,3/8/2025 5:56:14 AM,"300,900573730469",3/8/2025 5:56:10 AM,"358,794677734375",3/8/2025 5:56:14 AM,"190,504089355469",3/8/2025 5:56:14 AM,"188,825897216797",3/8/2025 5:56:14 AM,...,3/8/2025 5:56:14 AM,"79,2079162597656",3/8/2025 5:56:14 AM,"76,8208312988281",3/8/2025 5:56:14 AM,"2,17007994651794E-02",3/8/2025 5:56:14 AM,"-2,17007994651794E-02",3/8/2025 5:56:27 AM,"68,5781936645508"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215995,215996,3/11/2025 5:58:52 AM,"370,861236572266",3/11/2025 1:58:56 AM,"481,997894287109",3/11/2025 5:58:52 AM,"0,231475204229355",3/11/2025 5:58:52 AM,"163,363632202148",3/11/2025 5:58:52 AM,...,3/11/2025 5:58:52 AM,"4,34015989303589E-02",3/11/2025 5:58:52 AM,"65,8402252197266",3/11/2025 5:58:52 AM,"77,6237564086914",3/11/2025 5:58:52 AM,"88,1920471191406",0,0
215996,215997,3/11/2025 5:58:54 AM,"370,861236572266",3/11/2025 1:58:57 AM,"485,806518554688",3/11/2025 5:58:54 AM,"0,231475204229355",3/11/2025 5:58:54 AM,"160,122970581055",3/11/2025 5:58:54 AM,...,3/11/2025 5:58:54 AM,"4,34015989303589E-02",3/11/2025 5:58:54 AM,"64,4079742431641",3/11/2025 5:58:54 AM,"77,8190689086914",3/11/2025 5:58:54 AM,"86,4125823974609",0,0
215997,215998,3/11/2025 5:58:56 AM,"372,016815185547",3/11/2025 1:58:58 AM,"488,180786132813",3/11/2025 5:58:56 AM,"0,231475204229355",3/11/2025 5:58:56 AM,"158,097564697266",3/11/2025 5:58:56 AM,...,3/11/2025 5:58:56 AM,"4,34015989303589E-02",3/11/2025 5:58:56 AM,"65,080696105957",3/11/2025 5:58:56 AM,"77,5369567871094",3/11/2025 5:58:56 AM,"86,3908843994141",0,0
215998,215999,3/11/2025 5:58:58 AM,"368,192047119141",3/11/2025 1:58:59 AM,"484,613647460938",3/11/2025 5:58:58 AM,"0,231475204229355",3/11/2025 5:58:58 AM,"157,113800048828",3/11/2025 5:58:58 AM,...,3/11/2025 5:58:58 AM,"4,34015989303589E-02",3/11/2025 5:58:58 AM,"66,2091369628906",3/11/2025 5:58:58 AM,"78,1011810302734",3/11/2025 5:58:58 AM,"83,1140594482422",0,0
215999,216000,3/11/2025 5:59:00 AM,"367,2724609375",3/11/2025 1:59:00 AM,"481,2412109375",3/11/2025 5:59:00 AM,"0,173606395721436",3/11/2025 5:59:00 AM,"156,014282226563",3/11/2025 5:59:00 AM,...,3/11/2025 5:59:00 AM,"4,34015989303589E-02",3/11/2025 5:59:00 AM,"65,6232147216797",3/11/2025 5:59:00 AM,"77,8624649047852",3/11/2025 5:59:00 AM,"79,7287368774414",0,0

In [112]:
# Convertir todos los None en NaN reales
db_extract_df2 = db_extract_df2.replace(to_replace=[None], value=np.nan)

# Ahora sí, imputar la mediana correctamente
db_extract_df2 = db_extract_df2.fillna(db_extract_df2.median(numeric_only=True))

In [113]:
#Detectar columnas numéricas excepto 'id' y 'fecha_hora'
columnas_numericas = db_extract_df2.columns.difference(["id", "fecha_hora"])

#Reemplazar comas por puntos y convertir a numérico
for col in columnas_numericas:
    db_extract_df2[col] = db_extract_df2[col].astype(str).str.replace(",", ".")
    db_extract_df2[col] = pd.to_numeric(db_extract_df2[col], errors="coerce")

#imputar la mediana en columnas numéricas
db_extract_df2 = db_extract_df2.fillna(db_extract_df2.median(numeric_only=True))

In [114]:
# Asegurar que la columna sea string
db_extract_df2["fecha_hora_str"] = db_extract_df2["fecha_hora"].astype(str)

# Extraer los 6 primeros y los 5 últimos caracteres
db_extract_df2["fecha_inicio"] = db_extract_df2["fecha_hora_str"].str[:6]
db_extract_df2["hora_fin"] = db_extract_df2["fecha_hora_str"].str[-5:]

In [115]:
db_extract_df2

,id,fecha_hora,brix_jugo,brix_melaza,ph_alacalizado,ph_clarificado,ph_melada_sin_clarificador,pza_jugo_clarificado,pza_meladura_sin_clarificar,fecha_hora_str,fecha_inicio,hora_fin
0,1,01/03/sábado 06:30,11.75,59.00,7.89,7.32,6.42,84.920,86.449,01/03/sábado 06:30,01/03/,06:30
1,2,01/03/sábado 08:30,11.75,59.16,7.58,7.22,6.34,84.920,84.843,01/03/sábado 08:30,01/03/,08:30
2,3,01/03/sábado 10:30,11.75,58.72,7.46,6.88,6.20,84.920,86.449,01/03/sábado 10:30,01/03/,10:30
3,4,01/03/sábado 12:30,11.60,60.44,7.47,6.88,6.17,85.293,85.903,01/03/sábado 12:30,01/03/,12:30
4,5,01/03/sábado 14:30,11.75,60.20,7.43,6.80,6.15,84.920,86.449,01/03/sábado 14:30,01/03/,14:30
...,...,...,...,...,...,...,...,...,...,...,...,...
122,123,11/03/martes 20:30,11.75,59.32,7.63,7.22,6.49,85.123,86.074,11/03/martes 20:30,11/03/,20:30
123,124,11/03/martes 22:30,11.75,63.60,7.24,6.94,6.50,84.920,86.449,11/03/martes 22:30,11/03/,22:30
124,125,11/03/martes 00:30,11.75,63.24,7.50,7.22,6.36,84.920,86.885,11/03/martes 00:30,11/03/,00:30
125,126,11/03/martes 02:30,11.75,60.72,7.58,6.92,6.28,84.920,86.449,11/03/martes 02:30,11/03/,02:30
126,127,11/03/martes 04:30,10.93,60.80,7.46,7.22,6.26,86.093,86.701,11/03/martes 04:30,11/03/,04:30

In [116]:
db_extract_df2["fecha_hora_compuesta"] = db_extract_df2["fecha_inicio"] + "2025 " + db_extract_df2["hora_fin"]

In [117]:
db_extract_df2

,id,fecha_hora,brix_jugo,brix_melaza,ph_alacalizado,ph_clarificado,ph_melada_sin_clarificador,pza_jugo_clarificado,pza_meladura_sin_clarificar,fecha_hora_str,fecha_inicio,hora_fin,fecha_hora_compuesta
0,1,01/03/sábado 06:30,11.75,59.00,7.89,7.32,6.42,84.920,86.449,01/03/sábado 06:30,01/03/,06:30,01/03/2025 06:30
1,2,01/03/sábado 08:30,11.75,59.16,7.58,7.22,6.34,84.920,84.843,01/03/sábado 08:30,01/03/,08:30,01/03/2025 08:30
2,3,01/03/sábado 10:30,11.75,58.72,7.46,6.88,6.20,84.920,86.449,01/03/sábado 10:30,01/03/,10:30,01/03/2025 10:30
3,4,01/03/sábado 12:30,11.60,60.44,7.47,6.88,6.17,85.293,85.903,01/03/sábado 12:30,01/03/,12:30,01/03/2025 12:30
4,5,01/03/sábado 14:30,11.75,60.20,7.43,6.80,6.15,84.920,86.449,01/03/sábado 14:30,01/03/,14:30,01/03/2025 14:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,123,11/03/martes 20:30,11.75,59.32,7.63,7.22,6.49,85.123,86.074,11/03/martes 20:30,11/03/,20:30,11/03/2025 20:30
123,124,11/03/martes 22:30,11.75,63.60,7.24,6.94,6.50,84.920,86.449,11/03/martes 22:30,11/03/,22:30,11/03/2025 22:30
124,125,11/03/martes 00:30,11.75,63.24,7.50,7.22,6.36,84.920,86.885,11/03/martes 00:30,11/03/,00:30,11/03/2025 00:30
125,126,11/03/martes 02:30,11.75,60.72,7.58,6.92,6.28,84.920,86.449,11/03/martes 02:30,11/03/,02:30,11/03/2025 02:30
126,127,11/03/martes 04:30,10.93,60.80,7.46,7.22,6.26,86.093,86.701,11/03/martes 04:30,11/03/,04:30,11/03/2025 04:30

In [118]:
db_extract_df2["fecha_hora_compuesta"] = pd.to_datetime(
    db_extract_df2["fecha_hora_compuesta"], format="%d/%m/%Y %H:%M", errors="coerce"
)

In [119]:
db_extract_df2

,id,fecha_hora,brix_jugo,brix_melaza,ph_alacalizado,ph_clarificado,ph_melada_sin_clarificador,pza_jugo_clarificado,pza_meladura_sin_clarificar,fecha_hora_str,fecha_inicio,hora_fin,fecha_hora_compuesta
0,1,01/03/sábado 06:30,11.75,59.00,7.89,7.32,6.42,84.920,86.449,01/03/sábado 06:30,01/03/,06:30,2025-03-01 06:30:00
1,2,01/03/sábado 08:30,11.75,59.16,7.58,7.22,6.34,84.920,84.843,01/03/sábado 08:30,01/03/,08:30,2025-03-01 08:30:00
2,3,01/03/sábado 10:30,11.75,58.72,7.46,6.88,6.20,84.920,86.449,01/03/sábado 10:30,01/03/,10:30,2025-03-01 10:30:00
3,4,01/03/sábado 12:30,11.60,60.44,7.47,6.88,6.17,85.293,85.903,01/03/sábado 12:30,01/03/,12:30,2025-03-01 12:30:00
4,5,01/03/sábado 14:30,11.75,60.20,7.43,6.80,6.15,84.920,86.449,01/03/sábado 14:30,01/03/,14:30,2025-03-01 14:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,123,11/03/martes 20:30,11.75,59.32,7.63,7.22,6.49,85.123,86.074,11/03/martes 20:30,11/03/,20:30,2025-03-11 20:30:00
123,124,11/03/martes 22:30,11.75,63.60,7.24,6.94,6.50,84.920,86.449,11/03/martes 22:30,11/03/,22:30,2025-03-11 22:30:00
124,125,11/03/martes 00:30,11.75,63.24,7.50,7.22,6.36,84.920,86.885,11/03/martes 00:30,11/03/,00:30,2025-03-11 00:30:00
125,126,11/03/martes 02:30,11.75,60.72,7.58,6.92,6.28,84.920,86.449,11/03/martes 02:30,11/03/,02:30,2025-03-11 02:30:00
126,127,11/03/martes 04:30,10.93,60.80,7.46,7.22,6.26,86.093,86.701,11/03/martes 04:30,11/03/,04:30,2025-03-11 04:30:00

In [120]:
db_extract_df2.drop(columns=["fecha_hora", "fecha_hora_str", "fecha_inicio", "hora_fin"], inplace=True)
# Reordenar columnas: poner fecha_hora_compuesta en segundo lugar
cols = db_extract_df2.columns.tolist()
# Sacar la columna si ya está en la lista (por si está en otro lugar)
cols.remove("fecha_hora_compuesta")
# Insertarla en la segunda posición
cols.insert(1, "fecha_hora_compuesta")
# Reordenar el DataFrame
db_extract_df2 = db_extract_df2[cols]

In [121]:
db_extract_df2

,id,fecha_hora_compuesta,brix_jugo,brix_melaza,ph_alacalizado,ph_clarificado,ph_melada_sin_clarificador,pza_jugo_clarificado,pza_meladura_sin_clarificar
0,1,2025-03-01 06:30:00,11.75,59.00,7.89,7.32,6.42,84.920,86.449
1,2,2025-03-01 08:30:00,11.75,59.16,7.58,7.22,6.34,84.920,84.843
2,3,2025-03-01 10:30:00,11.75,58.72,7.46,6.88,6.20,84.920,86.449
3,4,2025-03-01 12:30:00,11.60,60.44,7.47,6.88,6.17,85.293,85.903
4,5,2025-03-01 14:30:00,11.75,60.20,7.43,6.80,6.15,84.920,86.449
...,...,...,...,...,...,...,...,...,...
122,123,2025-03-11 20:30:00,11.75,59.32,7.63,7.22,6.49,85.123,86.074
123,124,2025-03-11 22:30:00,11.75,63.60,7.24,6.94,6.50,84.920,86.449
124,125,2025-03-11 00:30:00,11.75,63.24,7.50,7.22,6.36,84.920,86.885
125,126,2025-03-11 02:30:00,11.75,60.72,7.58,6.92,6.28,84.920,86.449
126,127,2025-03-11 04:30:00,10.93,60.80,7.46,7.22,6.26,86.093,86.701

In [122]:
columnas_fecha = [
    "flujo_cond_klb_hr_time",
    "flujo_cana_ton_time",
    "jcla_c1_m3_hr_time",
    "jcla_c2_m3_hr_time",
    "jcla_c3_m3_hr_time",
    "jcla_c4_m3_hr_time",
    "cond_c1_m3_hr_time",
    "cond_c2_m3_hr_time",
    "cond_c3_m3_hr_time",
    "cond_c4_m3_hr_time",
    "brix_mel_time"
]

In [123]:
for col in columnas_fecha:
    # Paso 1: convertir de formato con AM/PM a datetime
    db_extract_df1[col] = pd.to_datetime(
        db_extract_df1[col], format="%m/%d/%Y %I:%M:%S %p", errors="coerce"
    )

    # Paso 2: convertir a string con formato 24h
    db_extract_df1[col] = db_extract_df1[col].dt.strftime("%d/%m/%Y %H:%M")

    # Paso 3: volver a datetime para análisis
    db_extract_df1[col] = pd.to_datetime(
        db_extract_df1[col], format="%d/%m/%Y %H:%M", errors="coerce"
    )

In [124]:
db_extract_df1.head(5)

,id,flujo_cond_klb_hr_time,flujo_cond_klb_hr_value,flujo_cana_ton_time,flujo_cana_ton_value,jcla_c1_m3_hr_time,jcla_c1_m3_hr_value,jcla_c2_m3_hr_time,jcla_c2_m3_hr_value,jcla_c3_m3_hr_time,...,cond_c1_m3_hr_time,cond_c1_m3_hr_value,cond_c2_m3_hr_time,cond_c2_m3_hr_value,cond_c3_m3_hr_time,cond_c3_m3_hr_value,cond_c4_m3_hr_time,cond_c4_m3_hr_value,brix_mel_time,brix_mel_value
0,1,2025-03-08 05:56:00,"295,5458984375",2025-03-08 05:56:00,"376,117553710938",2025-03-08 05:56:00,"189,173110961914",2025-03-08 05:56:00,"188,594421386719",2025-03-08 05:56:00,...,2025-03-08 05:56:00,"77,7322616577148",2025-03-08 05:56:00,"79,2513198852539",2025-03-08 05:56:00,"2,17007994651794E-02",2025-03-08 05:56:00,"-2,17007994651794E-02",2025-03-08 05:56:00,"68,4170989990234"
1,2,2025-03-08 05:56:00,"296,384094238281",2025-03-08 05:56:00,"381,213134765625",2025-03-08 05:56:00,"189,173110961914",2025-03-08 05:56:00,"188,825897216797",2025-03-08 05:56:00,...,2025-03-08 05:56:00,"76,169807434082",2025-03-08 05:56:00,"79,5985336303711",2025-03-08 05:56:00,"2,17007994651794E-02",2025-03-08 05:56:00,"-2,17007994651794E-02",2025-03-08 05:56:00,"68,4475402832031"
2,3,2025-03-08 05:56:00,"296,009765625",2025-03-08 05:56:00,"365,3203125",2025-03-08 05:56:00,"189,057373046875",2025-03-08 05:56:00,"189,404586791992",2025-03-08 05:56:00,...,2025-03-08 05:56:00,"75,8876953125",2025-03-08 05:56:00,"79,620231628418",2025-03-08 05:56:00,"2,17007994651794E-02",2025-03-08 05:56:00,"-2,17007994651794E-02",2025-03-08 05:56:00,"68,4872665405273"
3,4,2025-03-08 05:56:00,"301,470230102539",2025-03-08 05:56:00,"356,674011230469",2025-03-08 05:56:00,"189,346710205078",2025-03-08 05:56:00,"189,346710205078",2025-03-08 05:56:00,...,2025-03-08 05:56:00,"77,1897430419922",2025-03-08 05:56:00,"82,8536529541016",2025-03-08 05:56:00,"2,17007994651794E-02",2025-03-08 05:56:00,"-2,17007994651794E-02",2025-03-08 05:56:00,"68,5318450927734"
4,5,2025-03-08 05:56:00,"300,900573730469",2025-03-08 05:56:00,"358,794677734375",2025-03-08 05:56:00,"190,504089355469",2025-03-08 05:56:00,"188,825897216797",2025-03-08 05:56:00,...,2025-03-08 05:56:00,"79,2079162597656",2025-03-08 05:56:00,"76,8208312988281",2025-03-08 05:56:00,"2,17007994651794E-02",2025-03-08 05:56:00,"-2,17007994651794E-02",2025-03-08 05:56:00,"68,5781936645508"

In [125]:
columnas_numericas1 = db_extract_df1.columns.difference(["id","flujo_cond_klb_hr_time",
    "flujo_cana_ton_time",
    "jcla_c1_m3_hr_time",
    "jcla_c2_m3_hr_time",
    "jcla_c3_m3_hr_time",
    "jcla_c4_m3_hr_time",
    "cond_c1_m3_hr_time",
    "cond_c2_m3_hr_time",
    "cond_c3_m3_hr_time",
    "cond_c4_m3_hr_time",
    "brix_mel_time"])

#Reemplazar comas por puntos y a numerico
for col in columnas_numericas1:
    db_extract_df1[col] = db_extract_df1[col].astype(str).str.replace(",", ".")
    db_extract_df1[col] = pd.to_numeric(db_extract_df1[col], errors="coerce")

In [126]:
db_extract_df1

,id,flujo_cond_klb_hr_time,flujo_cond_klb_hr_value,flujo_cana_ton_time,flujo_cana_ton_value,jcla_c1_m3_hr_time,jcla_c1_m3_hr_value,jcla_c2_m3_hr_time,jcla_c2_m3_hr_value,jcla_c3_m3_hr_time,...,cond_c1_m3_hr_time,cond_c1_m3_hr_value,cond_c2_m3_hr_time,cond_c2_m3_hr_value,cond_c3_m3_hr_time,cond_c3_m3_hr_value,cond_c4_m3_hr_time,cond_c4_m3_hr_value,brix_mel_time,brix_mel_value
0,1,2025-03-08 05:56:00,295.545898,2025-03-08 05:56:00,376.117554,2025-03-08 05:56:00,189.173111,2025-03-08 05:56:00,188.594421,2025-03-08 05:56:00,...,2025-03-08 05:56:00,77.732262,2025-03-08 05:56:00,79.251320,2025-03-08 05:56:00,0.021701,2025-03-08 05:56:00,-0.021701,2025-03-08 05:56:00,68.417099
1,2,2025-03-08 05:56:00,296.384094,2025-03-08 05:56:00,381.213135,2025-03-08 05:56:00,189.173111,2025-03-08 05:56:00,188.825897,2025-03-08 05:56:00,...,2025-03-08 05:56:00,76.169807,2025-03-08 05:56:00,79.598534,2025-03-08 05:56:00,0.021701,2025-03-08 05:56:00,-0.021701,2025-03-08 05:56:00,68.447540
2,3,2025-03-08 05:56:00,296.009766,2025-03-08 05:56:00,365.320312,2025-03-08 05:56:00,189.057373,2025-03-08 05:56:00,189.404587,2025-03-08 05:56:00,...,2025-03-08 05:56:00,75.887695,2025-03-08 05:56:00,79.620232,2025-03-08 05:56:00,0.021701,2025-03-08 05:56:00,-0.021701,2025-03-08 05:56:00,68.487267
3,4,2025-03-08 05:56:00,301.470230,2025-03-08 05:56:00,356.674011,2025-03-08 05:56:00,189.346710,2025-03-08 05:56:00,189.346710,2025-03-08 05:56:00,...,2025-03-08 05:56:00,77.189743,2025-03-08 05:56:00,82.853653,2025-03-08 05:56:00,0.021701,2025-03-08 05:56:00,-0.021701,2025-03-08 05:56:00,68.531845
4,5,2025-03-08 05:56:00,300.900574,2025-03-08 05:56:00,358.794678,2025-03-08 05:56:00,190.504089,2025-03-08 05:56:00,188.825897,2025-03-08 05:56:00,...,2025-03-08 05:56:00,79.207916,2025-03-08 05:56:00,76.820831,2025-03-08 05:56:00,0.021701,2025-03-08 05:56:00,-0.021701,2025-03-08 05:56:00,68.578194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215995,215996,2025-03-11 05:58:00,370.861237,2025-03-11 01:58:00,481.997894,2025-03-11 05:58:00,0.231475,2025-03-11 05:58:00,163.363632,2025-03-11 05:58:00,...,2025-03-11 05:58:00,0.043402,2025-03-11 05:58:00,65.840225,2025-03-11 05:58:00,77.623756,2025-03-11 05:58:00,88.192047,NaT,0.000000
215996,215997,2025-03-11 05:58:00,370.861237,2025-03-11 01:58:00,485.806519,2025-03-11 05:58:00,0.231475,2025-03-11 05:58:00,160.122971,2025-03-11 05:58:00,...,2025-03-11 05:58:00,0.043402,2025-03-11 05:58:00,64.407974,2025-03-11 05:58:00,77.819069,2025-03-11 05:58:00,86.412582,NaT,0.000000
215997,215998,2025-03-11 05:58:00,372.016815,2025-03-11 01:58:00,488.180786,2025-03-11 05:58:00,0.231475,2025-03-11 05:58:00,158.097565,2025-03-11 05:58:00,...,2025-03-11 05:58:00,0.043402,2025-03-11 05:58:00,65.080696,2025-03-11 05:58:00,77.536957,2025-03-11 05:58:00,86.390884,NaT,0.000000
215998,215999,2025-03-11 05:58:00,368.192047,2025-03-11 01:58:00,484.613647,2025-03-11 05:58:00,0.231475,2025-03-11 05:58:00,157.113800,2025-03-11 05:58:00,...,2025-03-11 05:58:00,0.043402,2025-03-11 05:58:00,66.209137,2025-03-11 05:58:00,78.101181,2025-03-11 05:58:00,83.114059,NaT,0.000000
215999,216000,2025-03-11 05:59:00,367.272461,2025-03-11 01:59:00,481.241211,2025-03-11 05:59:00,0.173606,2025-03-11 05:59:00,156.014282,2025-03-11 05:59:00,...,2025-03-11 05:59:00,0.043402,2025-03-11 05:59:00,65.623215,2025-03-11 05:59:00,77.862465,2025-03-11 05:59:00,79.728737,NaT,0.000000

In [127]:
db_extract_df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 115200 entries, 0 to 215999
Data columns (total 23 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       115200 non-null  int64
 1   flujo_cond_klb_hr_time   115200 non-null  datetime64[ns]
 2   flujo_cond_klb_hr_value  115200 non-null  float64
 3   flujo_cana_ton_time      115200 non-null  datetime64[ns]
 4   flujo_cana_ton_value     115200 non-null  float64
 5   jcla_c1_m3_hr_time       115200 non-null  datetime64[ns]
 6   jcla_c1_m3_hr_value      115200 non-null  float64
 7   jcla_c2_m3_hr_time       115200 non-null  datetime64[ns]
 8   jcla_c2_m3_hr_value      115200 non-null  float64
 9   jcla_c3_m3_hr_time       115200 non-null  datetime64[ns]
 10  jcla_c3_m3_hr_value      115200 non-null  float64
 11  jcla_c4_m3_hr_time       115200 non-null  datetime64[ns]
 12  jcla_c4_m3_hr_value      115200 non-null  float64
 13  cond_c1_m3_hr_time       115200 non-null  datetime64[ns]
 14  cond_c1_m3_hr_value      115200 non-null  float64
 15  cond_c2_m3_hr_time       115200 non-null  datetime64[ns]
 16  cond_c2_m3_hr_value      115200 non-null  float64
 17  cond_c3_m3_hr_time       115200 non-null  datetime64[ns]
 18  cond_c3_m3_hr_value      115200 non-null  float64
 19  cond_c4_m3_hr_time       115200 non-null  datetime64[ns]
 20  cond_c4_m3_hr_value      115200 non-null  float64
 21  brix_mel_time            46080 non-null   datetime64[ns]
 22  brix_mel_value           115200 non-null  float64
dtypes: datetime64[ns](11), float64(11), int64(1)
memory usage: 21.1 MB

In [128]:
# Calcular el Indicador 1
db_extract_df1["indicador_1"] = (
    db_extract_df1["flujo_cond_klb_hr_value"] * 1000
) / db_extract_df1["flujo_cana_ton_value"]

# Crear nueva tabla con el tiempo y el indicador
indicador_1_df = db_extract_df1[[
    "flujo_cond_klb_hr_time", "indicador_1"
]].copy()

# Renombrar columna de tiempo si querés más claridad
indicador_1_df.rename(columns={
    "flujo_cond_klb_hr_time": "tiempo",
    "indicador_1": "Indicador 1"
}, inplace=True)

In [129]:
indicador_1_df

                    tiempo  Indicador 1
0      2025-03-08 05:56:00   785.780657
1      2025-03-08 05:56:00   777.476082
2      2025-03-08 05:56:00   810.274588
3      2025-03-08 05:56:00   845.226231
4      2025-03-08 05:56:00   838.642802
...                    ...          ...
215995 2025-03-11 05:58:00   769.425014
215996 2025-03-11 05:58:00   763.392878
215997 2025-03-11 05:58:00   762.047229
215998 2025-03-11 05:58:00   759.764091
215999 2025-03-11 05:59:00   763.177493

[115200 rows x 2 columns]

In [130]:
# Asegurar que la columna 'tiempo' es datetime
indicador_1_df['tiempo'] = pd.to_datetime(indicador_1_df['tiempo'])

# Obtener la primera fecha en los datos y ajustar a las 06:30
inicio = indicador_1_df['tiempo'].min().replace(hour=6, minute=30, second=0, microsecond=0)

# Generar los intervalos de 2 horas desde el primer dato sin reiniciar cada día
indicador_1_df['intervalo'] = inicio + ((indicador_1_df['tiempo'] - inicio) // pd.Timedelta(hours=2)) * pd.Timedelta(hours=2)

# Detectar y eliminar valores atípicos usando el rango intercuartílico (IQR)
Q1 = indicador_1_df['Indicador 1'].quantile(0.25)
Q3 = indicador_1_df['Indicador 1'].quantile(0.75)
IQR = Q3 - Q1

# Definir límites para detectar valores atípicos
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

# Filtrar los valores dentro del rango permitido
indicador_1_df_filtrado = indicador_1_df[(indicador_1_df['Indicador 1'] >= limite_inferior) & (indicador_1_df['Indicador 1'] <= limite_superior)]

# Agrupar por el intervalo de 2 horas y calcular la media sin valores atípicos
indicador_1_df_agrupado = indicador_1_df_filtrado.groupby('intervalo', as_index=False)['Indicador 1'].mean()

# Renombrar la columna "intervalo" a "tiempo"
indicador_1_df_agrupado = indicador_1_df_agrupado.rename(columns={'intervalo': 'tiempo'})

# Mostrar los primeros resultados
print(indicador_1_df_agrupado.head())

               tiempo  Indicador 1
0 2025-03-08 04:30:00   886.475226
1 2025-03-08 06:30:00   803.316777
2 2025-03-08 08:30:00   876.425148
3 2025-03-08 10:30:00   895.450029
4 2025-03-08 12:30:00   876.436217

In [131]:
indicador_1_df_agrupado

                tiempo  Indicador 1
0  2025-03-08 04:30:00   886.475226
1  2025-03-08 06:30:00   803.316777
2  2025-03-08 08:30:00   876.425148
3  2025-03-08 10:30:00   895.450029
4  2025-03-08 12:30:00   876.436217
5  2025-03-08 14:30:00   906.494823
6  2025-03-08 16:30:00   919.402247
7  2025-03-08 18:30:00   935.343585
8  2025-03-08 20:30:00   866.420620
9  2025-03-08 22:30:00   811.806305
10 2025-03-09 00:30:00   803.868653
11 2025-03-09 02:30:00   767.804459
12 2025-03-09 04:30:00   770.266260
13 2025-03-09 06:30:00   764.225402
14 2025-03-09 08:30:00   728.035294
15 2025-03-09 10:30:00   748.800807
16 2025-03-09 12:30:00   759.349185
17 2025-03-09 14:30:00   792.641477
18 2025-03-09 16:30:00   742.454543
19 2025-03-09 18:30:00   721.940799
20 2025-03-09 20:30:00   777.880798
21 2025-03-10 04:30:00   750.408599
22 2025-03-10 06:30:00   729.422717
23 2025-03-10 08:30:00   720.325352
24 2025-03-10 10:30:00   724.906814
25 2025-03-10 12:30:00   746.206066
26 2025-03-10 14:30:00   752.489450
27 2025-03-10 16:30:00   753.979553
28 2025-03-10 18:30:00   774.206996
29 2025-03-10 20:30:00   757.878832
30 2025-03-10 22:30:00   760.712857
31 2025-03-11 00:30:00   770.363316
32 2025-03-11 02:30:00   734.094789
33 2025-03-11 04:30:00   751.715592

In [132]:
db_extract_df2.loc[:, "Indicador 2"] = (
    (db_extract_df2["brix_melaza"] - db_extract_df2["brix_jugo"]) / db_extract_df2["brix_melaza"]
) * 100
# Crear tabla nueva
indicador_2_df = db_extract_df2[["fecha_hora_compuesta", "Indicador 2"]].copy()
indicador_2_df.rename(columns={"fecha_hora_compuesta": "tiempo"}, inplace=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_20336\573990931.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db_extract_df2.loc[:, "Indicador 2"] = (

In [133]:
indicador_2_df

                 tiempo  Indicador 2
0   2025-03-01 06:30:00    80.084746
1   2025-03-01 08:30:00    80.138607
2   2025-03-01 10:30:00    79.989782
3   2025-03-01 12:30:00    80.807412
4   2025-03-01 14:30:00    80.481728
..                  ...          ...
122 2025-03-11 20:30:00    80.192178
123 2025-03-11 22:30:00    81.525157
124 2025-03-11 00:30:00    81.419987
125 2025-03-11 02:30:00    80.648880
126 2025-03-11 04:30:00    82.023026

[127 rows x 2 columns]

In [134]:
# Asegurar nombres consistentes
indicador_1_df_agrupado = indicador_1_df_agrupado.rename(columns={"tiempo": "Id_Fecha"})
indicador_2_df = indicador_2_df.rename(columns={"tiempo": "Id_Fecha"})

# Unir indicadores
hechos_df = indicador_1_df_agrupado.merge(indicador_2_df, on="Id_Fecha", how="outer")

# Renombrar columnas a nombres finales
hechos_df = hechos_df.rename(columns={
    "Indicador 1": "Indicador_1",
    "Indicador 2": "Indicador_2"
})

# --- CREAR dim_fecha ---
dim_fecha_df = pd.DataFrame()
dim_fecha_df["Id_Fecha"] = hechos_df["Id_Fecha"]
dim_fecha_df["Ano"] = dim_fecha_df["Id_Fecha"].dt.year
dim_fecha_df["Mes"] = dim_fecha_df["Id_Fecha"].dt.month
dim_fecha_df["Dia"] = dim_fecha_df["Id_Fecha"].dt.day
dim_fecha_df["Hora"] = dim_fecha_df["Id_Fecha"].dt.time

# Quitar duplicados
dim_fecha_df = dim_fecha_df.drop_duplicates()

# --- CREAR TABLAS EN MYSQL ---
with engine.connect() as conn:
    conn.execute(text("""
        CREATE TABLE IF NOT EXISTS dim_fecha (
            Id_Fecha DATETIME PRIMARY KEY,
            Ano INT,
            Mes INT,
            Dia INT,
            Hora TIME
        );
    """))

    conn.execute(text("""
        CREATE TABLE IF NOT EXISTS hechos_indicadores (
            Id_Fecha DATETIME,
            Indicador_1 FLOAT,
            Indicador_2 FLOAT,
            FOREIGN KEY (Id_Fecha) REFERENCES dim_fecha(Id_Fecha)
        );
    """))

# --- INSERTAR DATOS ---
# Evitar duplicados
fechas_cargadas = pd.read_sql("SELECT Id_Fecha FROM dim_fecha", con=engine)
dim_fecha_nueva = dim_fecha_df[~dim_fecha_df["Id_Fecha"].isin(fechas_cargadas["Id_Fecha"])]
hechos_nuevos = hechos_df[~hechos_df["Id_Fecha"].isin(fechas_cargadas["Id_Fecha"])]

# Insertar en base de datos
dim_fecha_nueva.to_sql("dim_fecha", con=engine, if_exists="append", index=False)
hechos_nuevos.to_sql("hechos_indicadores", con=engine, if_exists="append", index=False)

print("✅ Datos insertados exitosamente en MySQL")

✅ Datos insertados exitosamente en MySQL

In [135]:
hechos_nuevos = hechos_nuevos.rename(columns={
    "Indicador 1": "Flujo_Condensados",
    "Indicador 2": "Brix_Eficiencia"
})

In [136]:
indicador_1_df_agrupado = indicador_1_df_agrupado.rename(columns={"tiempo": "Id_Fecha", "Indicador 1": "Indicador_1"})
indicador_2_df = indicador_2_df.rename(columns={"tiempo": "Id_Fecha", "Indicador 2": "Indicador_2"})

In [137]:
hechos_df = indicador_1_df_agrupado.merge(indicador_2_df, on="Id_Fecha", how="outer")

In [138]:
dim_fecha_df = pd.DataFrame()
dim_fecha_df["Id_Fecha"] = hechos_df["Id_Fecha"]
dim_fecha_df["Ano"] = dim_fecha_df["Id_Fecha"].dt.year
dim_fecha_df["Mes"] = dim_fecha_df["Id_Fecha"].dt.month
dim_fecha_df["Dia"] = dim_fecha_df["Id_Fecha"].dt.day
dim_fecha_df["Hora"] = dim_fecha_df["Id_Fecha"].dt.time
dim_fecha_df = dim_fecha_df.drop_duplicates()

In [139]:
# Ver qué fechas ya existen
fechas_cargadas = pd.read_sql("SELECT Id_Fecha FROM dim_fecha", con=engine)

# Filtrar las nuevas
dim_fecha_nueva = dim_fecha_df[~dim_fecha_df["Id_Fecha"].isin(fechas_cargadas["Id_Fecha"])]
hechos_nuevos = hechos_df[~hechos_df["Id_Fecha"].isin(fechas_cargadas["Id_Fecha"])]

In [140]:
dim_fecha_nueva.to_sql("dim_fecha", con=engine, if_exists="append", index=False)
hechos_nuevos.to_sql("hechos_indicadores", con=engine, if_exists="append", index=False)

print("Datos insertados con éxito en MySQL.")

Datos insertados con éxito en MySQL.

In [141]:
print("Total en hechos_df:", len(hechos_df))
print("Total ya cargadas:", len(fechas_cargadas))
print("Total nuevas a insertar:", len(hechos_nuevos))

Total en hechos_df: 127
Total ya cargadas: 127
Total nuevas a insertar: 0

In [143]:
'''
with engine.begin() as conn:
    conn.execute(text("ALTER TABLE hechos_indicadores ADD COLUMN Indicador_1 FLOAT;"))

_IncompleteInputError: incomplete input (2243491560.py, line 1)

In [144]:
with engine.begin() as conn:
    conn.execute(text("ALTER TABLE hechos_indicadores ADD COLUMN Indicador_2 FLOAT;"))

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1060 (42S21): Duplicate column name 'Indicador_2'
[SQL: ALTER TABLE hechos_indicadores ADD COLUMN Indicador_2 FLOAT;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [145]:
# Eliminar datos antiguos
with engine.begin() as conn:
    conn.execute(text("DELETE FROM hechos_indicadores"))

# Insertar todos los datos nuevos
hechos_df.to_sql("hechos_indicadores", con=engine, if_exists="append", index=False)

127